<!DOCTYPE html>
<html lang="en-US">
   <head>
      <!-- General meta tags needed-->
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <!-- Needed for responsive design -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="icon" href="images/favicon.png">

      <!-- If you want custom browser colors on mobile -->
      <meta name="theme-color" content="#1843c1" />
      <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">

      <title>TechTogether Boston 2019 Report</title>

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap" rel="stylesheet">

      <!-- CSS File -->
      <link rel="stylesheet" href="styles/main.css">
      <link rel="stylesheet" href="styles/modal.css">
   </head>

   <body id="body">

      <button id="modalButton"> Contact </button>

      <div class="center">
         <div class="modal span_1_of_2" id="modal"> 
            <div class="closeButton" id="close">&times;</div>
            <h1> Let's Get In Touch </h1>

            <div class="circle"></div>         
            <div class="triangle"></div>

            <form method="post" action="/form" id="form">
               <div>
                  <p> Name </p>
                  <input type="text" name="name" class="inputBox_1" required>
               </div>

               <div>
                  <p> Company/Organization</p>
                  <input type="text" name="company" class="inputBox_1" required>
               </div>

               <div>
                  <p>Email</p>
                  <input type="text" name="email" class="inputBox_1" required>
               </div>

               <div>
                  <p>Message</p>
                  <textarea name="message" class="inputBox_2" required></textarea>
               </div>

               <div class="center">
                  <button class="submitButton" id="submitBtn"> Submit </button>
               </div>
            </form>

            <div class="submission" id="submission">
               <p> The Message Has Been Sent! </p>
               <p> We will try to get back to you as quickly as possible. </p>
            </div>

         </div>
      </div>

      <script src="scripts/modal.js"></script>

   </body>
</html>