body {
  background-color: #F4F4F4;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

main {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
}

hr {
  border: 1px solid #000;
  margin: 3em 0;
}

a {
  color: #000;
}

a:hover {
  color: #000;
}

.side-navigation {
  position: fixed;
  background-color: #808cFB;
  width: 20%;
  height: 100vh;
  -webkit-box-shadow: 0 0 1em #d3d3d3;
          box-shadow: 0 0 1em #d3d3d3;
  overflow-wrap: break-word;
}

.side-navigation a {
  color: #FFF;
}

.side-navigation img {
  width: 100%;
  margin-bottom: 3em;
}

.side-navigation nav {
  height: 100%;
  padding: 10vh 0 0 0;
}

.side-navigation ul {
  padding: 0;
  list-style-type: none;
}

.side-navigation ul i,
.side-navigation ul a {
  font-size: 1.15em;
}

.side-navigation ul a:hover {
  text-decoration: none;
}

.side-navigation li {
  padding: 1.5em 0 1.5em 10%;
}

.side-navigation li:hover {
  background-color: #d3d3d3;
}

.main-section {
  background-image: url("../imgs/livesite-background.png");
  max-width: 100%;
  padding: 2em 10% 7em 10%;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.main-section h3 {
  margin: 1em 0;
}

.card {
  -webkit-box-shadow: 0 0 1em #d3d3d3;
          box-shadow: 0 0 1em #d3d3d3;
}

.mobile-nav {
  display: none;
  position: fixed;
  -ms-grid-columns: (16.67%)[6];
      grid-template-columns: repeat(6, 16.67%);
  -ms-grid-rows: 12vh;
      grid-template-rows: 12vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #808cFB;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mobile-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .25em;
  color: #FFF;
}

.mobile-nav i {
  margin: 0;
  font-size: 1.25em;
}

.home {
  margin: 0;
}

.home span {
  font-weight: 600;
}

.home .top-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.5em 10%;
  margin: 1em 0;
  height: 100%;
}

.home .top-cards .card div:nth-child(1) {
  width: 30%;
}

.home .top-cards .card div:nth-child(2) {
  width: 65%;
}

.home .top-cards .card a p {
  display: inline;
}

.home .top-cards .col-lg-4 {
  min-height: 1em;
  margin: 1em 0;
}

.home .top-cards img {
  width: 100%;
}

.home .top-cards p {
  margin: 0;
}

.home .top-cards p:first-child {
  margin-bottom: 1em;
}

.home .bottom-cards span {
  font-size: .75em;
  color: #929292;
}

.home .bottom-cards p:last-child {
  float: right;
}

.home .bottom-cards .card {
  margin: 1em 0;
  padding: 1.5em 5%;
}

.home .bottom-cards .special-card {
  background-color: #808cFB;
}

.home .bottom-cards .special-card p,
.home .bottom-cards .special-card h5,
.home .bottom-cards .special-card span {
  color: #FFF;
}

.home .card-link {
  text-decoration: underline;
}

.schedule td {
  padding: 2em .75em;
  word-break: break-word;
}

.schedule td a {
  text-decoration: underline;
}

.schedule tr:nth-child(1) td:first-child, .schedule tr:nth-child(5) td:first-child, .schedule tr:nth-child(9) td:first-child, .schedule tr:nth-child(13) td:first-child, .schedule tr:nth-child(17) td:first-child, .schedule tr:nth-child(21) td:first-child, .schedule tr:nth-child(25) td:first-child, .schedule tr:nth-child(29) td:first-child, .schedule tr:nth-child(33) td:first-child, .schedule tr:nth-child(37) td:first-child {
  border-left: 1em solid #0025F8;
}

.schedule tr:nth-child(2) td:first-child, .schedule tr:nth-child(6) td:first-child, .schedule tr:nth-child(10) td:first-child, .schedule tr:nth-child(14) td:first-child, .schedule tr:nth-child(18) td:first-child, .schedule tr:nth-child(22) td:first-child, .schedule tr:nth-child(26) td:first-child, .schedule tr:nth-child(30) td:first-child, .schedule tr:nth-child(34) td:first-child, .schedule tr:nth-child(38) td:first-child {
  border-left: 1em solid #FD7361;
}

.schedule tr:nth-child(3) td:first-child, .schedule tr:nth-child(7) td:first-child, .schedule tr:nth-child(11) td:first-child, .schedule tr:nth-child(15) td:first-child, .schedule tr:nth-child(19) td:first-child, .schedule tr:nth-child(23) td:first-child, .schedule tr:nth-child(27) td:first-child, .schedule tr:nth-child(31) td:first-child, .schedule tr:nth-child(35) td:first-child, .schedule tr:nth-child(39) td:first-child {
  border-left: 1em solid #808cFB;
}

.schedule tr:nth-child(4) td:first-child, .schedule tr:nth-child(8) td:first-child, .schedule tr:nth-child(12) td:first-child, .schedule tr:nth-child(16) td:first-child, .schedule tr:nth-child(20) td:first-child, .schedule tr:nth-child(24) td:first-child, .schedule tr:nth-child(28) td:first-child, .schedule tr:nth-child(32) td:first-child, .schedule tr:nth-child(36) td:first-child, .schedule tr:nth-child(40) td:first-child {
  border-left: 1em solid #FF1E2D;
}

.schedule .buttons {
  margin: 2em 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  background-color: #FFF;
}

.schedule .table {
  background-color: #FFF;
  width: 100%;
  table-layout: fixed;
}

.schedule .col {
  padding-left: 0;
}

.schedule .col button {
  width: 100%;
  color: #000;
  padding: 1em;
  font-weight: 600;
  border: 1px #000 solid;
  background-color: #FFF;
  text-align: center;
}

.schedule .col button:focus {
  outline: 0;
}

.schedule .customPopup {
  display: none;
}

.schedule #day1-btn {
  border: none;
  background-color: #808cFB;
  color: #FFF;
}

.schedule #day2-tbl,
.schedule #day3-tbl {
  display: none;
}

.map img {
  width: 100%;
}

.map h6 {
  margin-top: 2em;
}

.map img {
  width: 100%;
}

.map iframe {
  width: 100%;
  height: 30em;
}

.map .map-container div {
  margin-bottom: 5em;
}

.map .gmap_canvas {
  width: 100%;
}

.sponsors {
  padding-bottom: 12em;
}

.sponsors .card {
  min-height: 8em;
  margin-bottom: 2em;
  padding: 1em;
}

.sponsors .card a:active {
  text-decoration: none;
}

.sponsors .card a:hover {
  text-decoration: none;
}

.sponsors .card img {
  max-width: 100%;
  max-height: 6em;
}

.sponsors .card .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.sponsors .card .grid p {
  text-align: center;
}

.sponsors .card .grid p:nth-child(1) {
  font-weight: 600;
  font-size: 1.15em;
}

.sponsors .card .grid p:nth-child(2) {
  margin: 0;
}

.sponsors .card .link-container {
  margin: .5em 0;
  width: 100%;
  text-align: center;
}

.sponsors .card .link-container a {
  color: #808cFB;
}

.sponsors .sponsor-logos {
  margin: 2em 0;
}

.challenges {
  padding-bottom: 12em;
  overflow-x: hidden;
}

.challenges a:active {
  text-decoration: none;
}

.challenges ol {
  padding: 0 0 0 1em;
}

.challenges .link-container a {
  text-decoration: none;
  cursor: pointer;
}

.challenges .link-container a:hover {
  color: #808cFB;
  text-decoration: underline;
}

.challenges .sub-title {
  margin: 2em 0 0 0;
}

.challenges .prize-section {
  margin: 0 0 2em 0;
}

.challenges .prize-section .row {
  margin: 1em 0;
}

.challenges .prize-section .col-lg-3 {
  margin: 1em 0;
}

.challenges .link-container {
  margin: .5em 0;
  width: 100%;
  text-align: center;
}

.challenges .link-container a {
  color: #808cFB;
}

.challenges .card {
  min-height: 10em;
  padding: 2em;
}

.challenges .card p {
  font-size: 1.1em;
  margin: 0;
}

.challenges .card a {
  text-decoration: underline;
}

.challenges .title {
  font-weight: 600;
  text-align: center;
}

.challenges .modal-body a {
  text-decoration: underline;
}

.challenges .container-fluid {
  overflow-x: auto;
}

.challenges .scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10em;
}

.challenges .scroll::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.challenges .scroll::-webkit-scrollbar-thumb {
  border-radius: 10em;
  background-color: #808cFB;
}

.faq span {
  font-size: .75em;
  color: #929292;
}

.faq p:last-child {
  float: right;
}

.faq .card {
  margin: 1em 0;
  padding: 1.5em 5%;
}

.faq .card a {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .main-section h3 {
    margin-top: 0;
  }
  .schedule {
    padding: 2em 0 7em 0;
  }
  .schedule .temp,
  .schedule .buttons,
  .schedule h3 {
    padding: 0 10%;
  }
  .sponsors .card {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    row-gap: 1em;
  }
  .sponsors .card p:nth-child(1) {
    font-size: 1em;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  main {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .main-section {
    -ms-grid-column: 1;
        grid-column-start: 1;
    padding-top: 2.5em;
  }
  .side-navigation {
    display: none;
  }
  .mobile-nav {
    display: -ms-grid;
    display: grid;
  }
}
