body{
    font-family: 'HelveticaNeue-Roman', sans-serif;
    min-height: 100%;
}

.main-box{
    background-color: #FFF;
    display: block;
    width: 90%;
    margin: 0 5% 0 5%;
}

.about-img-5{
    margin: 3em 0 3em 0;
    height: 20vw;
    width: 60%;
}

.about-box-6{
    width: 48%;
}

.grid-container-2{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(14em, 2fr));
    grid-template-rows: repeat(auto);
    grid-column-gap: .6em;
    grid-row-gap: 1.5em;
}

.grid-container-2 div{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.grid-container-2 div img{
    width: 11em;
    height: 11em;
    object-fit: cover;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.margin-top-zero{
    margin-top: 0;
}

.grid-container-2 div p:nth-child(2){
    font-size: 1.6em;
}

.grid-container-2 div p:nth-child(3){
    font-size: 1.3em;
}

.grid-container-2 div p:nth-child(4){
    font-size: 1em;
}

.company-logo{
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.job-apply-button{
  background-color: #ed7a67;
  margin-left: 15%;
}

h4.sm-jobs-banner{
  padding-bottom: 1em;
  color: #000;
  font-weight: bolder;
  background-color: #ffffff;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: solid;
  border-left-style: hidden;
  border-color: #7AD7F0;
}

.job-name{
  text-align: center;
  font-size: 1.7em;
  font-weight: bolder;
}


/************** Mobile/Tablet Responsiveness ********************/

@media screen and (max-width: 500px) {

    .about-img-5{
        margin: 1.2em 0 1.2em 0;
        height: 30vw;
        width: 100%;
    }

    .about-box-6{
        width: 110%;
    }

    .grid-container-2{
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 501px){

    .about-box-5{
        float: left;
        width: 47%;
        margin: 0 2% 0 0;
    }
}
