body {
  font-family: Barlow !important;
  font-size: 16px;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1em;
}

.pink {
  color: #FD7361;
}

.purple {
  color: #808cFB;
}

.background-image {
  background-color: #000C54;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2em 2%;
  min-height: 100vh;
}

.background-image .logo {
  width: 15em;
}

.background-image .logo-2 {
  display: none;
}

.background-image .navbar-toggler-icon {
  background-image: url(/assets/imgs/nav-hamburger.png);
}

header {
  margin-bottom: 5em;
}

.navbar-toggler-icon {
  color: #FFF;
}

.navbar-toggler-icon {
  background-image: url(/assets/imgs/graphics/hamburger.svg) !important;
}

.mobile2 {
  display: none;
}

.navbar {
  padding: 0 2%;
}

.navbar-collapse .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-collapse .navbar-nav li {
  margin: 0 1vw;
}

.navbar-collapse .navbar-nav img {
  width: 2em;
  height: 2em;
}

.navbar-collapse .navbar-nav p {
  color: #fff;
  font-weight: 600;
  margin: 0;
}

.navbar-collapse .navbar-nav a:hover {
  text-decoration: none;
}

.navbar-collapse .navbar-nav button {
  color: #fff;
  background-color: #0025F8;
  border: none;
}

.navbar-collapse .navbar-nav button p {
  margin: 0;
  padding: 1px 2.5em;
}

.navbar-collapse .navbar-nav li:last-child button {
  background-color: #0025F8;
}

.navbar-collapse .navbar-nav li:last-child button a:hover {
  text-decoration: none;
}

.headline {
  margin: 5em 0 0 0;
}

.headline img {
  width: 100%;
}

.headline h1 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1em;
  color: #fff;
  padding: 0;
}

.headline h2 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 600;
}

.headline h3 {
  font-size: 1.25em;
  color: #fff;
  margin: 1em 0 03em 0;
  font-weight: 500;
}

.headline a {
  color: #FFF;
}

.headline a:hover {
  text-decoration: none;
}

.headline .bar-sm {
  width: 3em;
  height: .35em;
  background-color: #FD7361;
  margin: 1em 0 1.5em 0;
}

.headline .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headline .button1,
.headline .button2 {
  margin: 0;
  padding: .5em .5em;
  margin: .5em;
  color: #fff;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
}

.headline .button1 p,
.headline .button2 p {
  margin: 0;
}

.headline br {
  display: none;
}

.headline .text-section {
  margin: 2em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headline .text-section p {
  margin: 0;
}

.headline .team-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headline .button1 {
  background-color: #FD7361;
  width: 42%;
  font-size: 1.2em;
}

.headline .button2 {
  background-color: #0025F8;
  width: 42%;
  font-size: 1.2em;
}

.about-container {
  padding: 0 5%;
}

.about-container h2 {
  color: #808cFB;
  font-weight: 600;
  margin: 1.5em 0;
  font-size: 2.25em;
}

.about-container h2 span {
  color: #FD7361;
}

.about-container p {
  color: #000C54;
  font-weight: 500;
  font-size: 1.25em;
}

.about-container .carousel {
  padding: 0 2em;
  height: 50em;
  width: 100%;
}

.about-container .carousel .carousel-inner,
.about-container .carousel .carousel-item {
  height: 100%;
}

.about-container .carousel img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-container .carousel li {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.about-container .col-12 {
  padding: 0;
}

.showcase-container {
  margin: 3em 0;
}

.showcase-container h1 {
  font-weight: 600;
  margin-bottom: 0;
}

.showcase-container div {
  padding: 0;
}

.showcase-container div .about {
  padding: 4em 7.5%;
}

.showcase-container div .about h1 {
  color: #000C54;
  display: inline-block;
}

.showcase-container div .about p {
  font-weight: 500;
  margin: 1em 0;
  font-size: 1.25em;
}

.showcase-container p {
  font-weight: 500;
}

.showcase-container a {
  color: #000C54;
  font-weight: 600;
}

.showcase-container .bar-sm {
  width: 3em;
  height: .35em;
  background-color: #0025F8;
  margin: 1em 0 1.5em 0;
}

.showcase-container .carousel-control-prev {
  background: transparent;
}

.showcase-container .carousel-control-prev-icon,
.showcase-container .carousel-control-next-icon {
  -webkit-filter: invert(25%);
          filter: invert(25%);
}

.showcase-container .carousel {
  width: 100%;
}

.showcase-container .carousel .carousel-inner,
.showcase-container .carousel .carousel-item {
  height: 100%;
}

.showcase-container .carousel img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.showcase-container .carousel li {
  height: 1em;
  width: 1em;
  background-color: #000C54;
  border-radius: 50%;
}

.track-container {
  padding: 0 5%;
}

.track-container .bar-sm {
  width: 3em;
  height: .35em;
  background-color: #FD7361;
  margin: 1em 0 1.5em 0;
}

.track-container .left {
  padding: 0 5% 0 0;
  width: 100%;
}

.track-container .right {
  padding: 0 0 0 5%;
  width: 100%;
}

.track-container .right img {
  width: 100%;
}

.track-container .right h1 {
  color: #000C54;
  margin: 1em 0;
  font-weight: 600;
}

.track-container .right p {
  font-weight: 600;
}

.track-container .title h1 {
  display: inline-block;
  color: #000C54;
  font-weight: 600;
  margin-bottom: 0;
}

.track-container .title h3 {
  color: #808cFB;
  font-weight: 600;
}

.track-container .tracks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40%;
      grid-template-columns: 40% 40%;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  margin: 5em 0;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  row-gap: 2em;
}

.track-container .tracks img {
  width: 100%;
}

.track-container .tracks p {
  font-size: 1.25em;
  text-align: center;
  color: #000C54;
  font-weight: 600;
  margin: 1em 0 0 0;
}

.track-container .tracks #track1,
.track-container .tracks #track2,
.track-container .tracks #track3,
.track-container .tracks #track4 {
  cursor: pointer;
}

.track-container .tracks #track2 div,
.track-container .tracks #track3 div,
.track-container .tracks #track4 div {
  background-color: #FFF;
}

.track-container .tracks #track2 img,
.track-container .tracks #track3 img,
.track-container .tracks #track4 img {
  opacity: .25;
}

.track-container #track2_text,
.track-container #track3_text,
.track-container #track4_text {
  display: none;
}

.explore-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000C54;
  margin: 7em 0 0 0;
  padding: 5em 0;
}

.explore-container .bar-sm {
  width: 3em;
  height: .35em;
  background-color: #000C54;
  margin: 1em 0 1.5em 0;
}

.explore-container .text {
  color: #fff;
  background-color: #808cFB;
  padding: 12.5em 5em 12.5em 5em;
  width: 40%;
}

.explore-container .text h1 {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0;
}

.explore-container .text p {
  font-size: 1.25em;
  font-weight: 500;
}

.explore-container .carousel {
  width: 50%;
}

.explore-container .carousel img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.explore-container .carousel-indicators li {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.stats-container {
  background-color: #000C54;
  padding: 5em 5%;
}

.stats-container h1 {
  display: inline-block;
  color: #FFF;
  font-weight: 600;
  margin: 0;
}

.stats-container .bar-sm {
  width: 3em;
  height: .35em;
  background-color: #52D9F6;
  margin: 1em 0 1.5em 0;
}

.stats-container .carousel-inner,
.stats-container .carousel-item {
  height: 100%;
}

.stats-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stats-container li {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: #808cFB;
}

.stats-container .carousel-control-prev {
  background: transparent;
}

.stats-container .carousel-control-prev-icon,
.stats-container .carousel-control-next-icon {
  -webkit-filter: invert(25%);
          filter: invert(25%);
}

.stats-container .carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats-container .carousel {
  margin: 2em 0;
  width: 60%;
}

.get-involved-container {
  margin: 5em 0;
  padding: 0 5%;
}

.get-involved-container h1 {
  display: inline-block;
  color: #000C54;
  font-weight: 600;
  margin: 0;
}

.get-involved-container h4 {
  font-weight: 600;
}

.get-involved-container p {
  color: #000C54;
  font-size: 1.25em;
  font-weight: 500;
}

.get-involved-container a:hover {
  text-decoration: none;
}

.get-involved-container .bar-sm {
  width: 3em;
  height: .35em;
  background-color: #0025F8;
  margin: 1em 0 1.5em 0;
}

.get-involved-container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.get-involved-container .buttons div {
  padding: 1.5em 1em;
  margin: 1em .5em;
  width: 18em;
  text-align: center;
  border: none;
}

.get-involved-container .buttons div:first-child {
  background-color: #0025F8;
}

.get-involved-container .buttons div:nth-child(2) {
  background-color: #FD7361;
}

.get-involved-container .buttons a {
  display: inline;
}

.get-involved-container .buttons p {
  color: #FFF;
  font-weight: 600;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

.get-involved-container .text-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 1em 0 0;
}

.get-involved-container .carousel {
  width: 100%;
  height: 35em;
}

.get-involved-container .carousel .carousel-inner,
.get-involved-container .carousel .carousel-item {
  height: 100%;
}

.get-involved-container .carousel img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.get-involved-container .carousel li {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.get-involved-container .col-12 {
  padding: 0;
}

.schedule-container {
  background-color: #000C54;
  color: #FFF;
  margin: 5em 0 0 0;
  padding: 5em 5%;
}

.schedule-container h1 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
}

.schedule-container .bar-sm {
  width: 3em;
  height: .35em;
  background-color: #52D9F6;
  margin: 1em 0 1.5em 0;
}

.schedule-container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  margin: 3em 0;
}

.schedule-container .grid .col1 div,
.schedule-container .grid .col2 div,
.schedule-container .grid .col3 div {
  margin: 2em 0;
}

.schedule-container .grid .col1 div:first-child,
.schedule-container .grid .col2 div:first-child,
.schedule-container .grid .col3 div:first-child {
  margin: 0 0 2em 0;
}

.schedule-container .grid div p {
  font-weight: 600;
  font-size: 1.1em;
}

.schedule-container .grid div p:first-child {
  font-size: 1.25em;
}

.schedule-container .grid h2 {
  font-size: 2.25em;
}

.schedule-container .grid .col1 h2 {
  color: #808cFB;
  font-weight: 600;
}

.schedule-container .grid .col2 h2 {
  color: #52D9F6;
  font-weight: 600;
}

.schedule-container .grid .col3 h2 {
  color: #FD7361;
  font-weight: 600;
}

.sponsor-container {
  margin: 0 0 5em 0;
}

.sponsor-container a {
  float: right;
  margin: 3em 0 0 0;
}

.sponsor-container a p {
  font-size: 1.1em;
  margin: 0;
  display: inline-block;
}

.sponsor-container a span {
  color: #FD7361;
}

.sponsor-container .header {
  background-color: #808cFB;
  color: #FFF;
  padding: 4em 5%;
  margin: 0 0 5em 0;
}

.sponsor-container .header h1 {
  margin: 0 0 1em 0;
  font-weight: 600;
}

.sponsor-container .header h5 {
  font-size: 500;
}

.sponsor-container .info-section {
  padding: 0 5%;
  margin: 3em 0;
  width: 100%;
}

.sponsor-container .text-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 2em 5%;
}

.sponsor-container .text-section div {
  margin: 0;
}

.sponsor-container .text-section h2 {
  display: inline-block;
  font-weight: 600;
  font-size: 2.25em;
  margin: 0;
}

.sponsor-container .text-section h3 {
  display: inline-block;
  font-weight: 600;
  color: #808cFB;
  margin: .5em 0;
}

.sponsor-container .text-section span {
  color: #FD7361;
}

.sponsor-container .text-section p {
  font-weight: 600;
  color: #000C54;
}

.sponsor-container .carousel {
  width: 100%;
  height: 35em;
}

.sponsor-container .carousel img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sponsor-container .carousel .carousel-inner,
.sponsor-container .carousel .carousel-item {
  height: 100%;
  margin: 0;
}

.sponsor-container .carousel li {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.sponsor-container .col-12 {
  padding: 0;
}

.sponsor-container .title .bar-sm {
  width: 3em;
  height: .35em;
  background-color: #000C54;
  margin: 1em 0 1.5em 0;
}

.sponsor-container .very-top-sponsors,
.sponsor-container .top-sponsors,
.sponsor-container .mid-sponsors,
.sponsor-container .low-sponsors {
  padding: 0 2.5%;
  margin: 5em 0;
}

.sponsor-container .very-top-sponsors .grid,
.sponsor-container .top-sponsors .grid,
.sponsor-container .mid-sponsors .grid,
.sponsor-container .low-sponsors .grid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sponsor-container .very-top-sponsors .grid div,
.sponsor-container .top-sponsors .grid div,
.sponsor-container .mid-sponsors .grid div,
.sponsor-container .low-sponsors .grid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.sponsor-container .very-top-sponsors .grid a,
.sponsor-container .top-sponsors .grid a,
.sponsor-container .mid-sponsors .grid a,
.sponsor-container .low-sponsors .grid a {
  margin: 0;
}

.sponsor-container .very-top-sponsors img,
.sponsor-container .top-sponsors img,
.sponsor-container .mid-sponsors img,
.sponsor-container .low-sponsors img {
  max-width: 100%;
  max-height: 100%;
}

.sponsor-container .very-top-sponsors .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35%;
      grid-template-columns: 35%;
  -ms-grid-rows: 20em;
      grid-template-rows: 20em;
}

.sponsor-container .top-sponsors .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30%;
      grid-template-columns: 30% 30%;
  -ms-grid-rows: 20em;
      grid-template-rows: 20em;
  grid-column-gap: 10%;
  grid-row-gap: 2em;
  text-align: center;
}

.sponsor-container .mid-sponsors .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 12em 12em;
      grid-template-rows: 12em 12em;
  grid-row-gap: 2em;
  grid-column-gap: 5%;
}

.sponsor-container .low-sponsors .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17% 17% 17% 17%;
      grid-template-columns: 17% 17% 17% 17%;
  -ms-grid-rows: 7em 7em;
      grid-template-rows: 7em 7em;
  grid-row-gap: 2em;
  grid-column-gap: 5%;
}

.sponsor-container .low-sponsors .grid div:nth-child(10) img {
  width: 10em;
}

.sponsor-container .title-sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.sponsor-container .title-sponsor p {
  color: #808cFB;
  font-weight: 600;
  font-size: 1.5em;
  margin: 0;
}

.sponsor-container .carousel a {
  margin: 0;
}

.sponsor-container .job-section {
  margin: 5em 0 10em 0;
  padding: 0 0 0 5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sponsor-container .job-section p {
  color: #000C54;
}

.sponsor-container .job-section a {
  float: none;
  text-decoration: underline;
  color: #000C54;
  font-weight: 600;
}

.sponsor-container .job-section li {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: #000;
}

.sponsor-container .job-section img {
  width: 100%;
}

.sponsor-container .job-section .sponsor-logos img:nth-child(1) {
  display: block;
}

.sponsor-container .job-section .carousel-container,
.sponsor-container .job-section .sponsor-logos {
  width: 50%;
}

.sponsor-container .job-section .carousel {
  width: 100%;
  height: 40em;
}

.sponsor-container .job-section .sponsor-logos,
.sponsor-container .job-section .carousel {
  padding: 2em;
}

.sponsor-container .job-section .carousel {
  padding: 0;
}

.sponsor-container .job-section .carousel a {
  width: 10%;
}

.sponsor-container .job-section .carousel-inner,
.sponsor-container .job-section .carousel-item {
  margin: 0;
}

.sponsor-container .job-section .carousel-control-prev-icon,
.sponsor-container .job-section .carousel-control-next-icon {
  -webkit-filter: invert(50%);
          filter: invert(50%);
}

.sponsor-container .job-section .description-section {
  background-color: rgba(128, 140, 251, 0.2);
  padding: 5em 10%;
  height: 100%;
}

.sponsor-container .job-section .hidden {
  display: none;
}

.sponsor-container .job-section .list-reset li {
  height: auto;
  width: auto;
  background-color: transparent;
}

.sponsor-container .job-section .list-reset p {
  margin: 0;
}

.sponsor-container .job-section .list-reset a {
  cursor: pointer;
  font-weight: 500;
}

.sponsor-container .job-section .list-reset a:hover {
  text-decoration: underline;
}

.sponsor-container .modal-body a {
  margin: 0;
  float: none;
  color: #808cFB;
}

.sponsor-container .sponsor-section-title {
  padding: 0 5%;
  margin: 5em 0 0 0;
}

.sponsor-container .sponsor-section-title h1 {
  color: #000C54;
  font-weight: 600;
}

footer {
  background-color: #000C54;
  color: #FFF;
  padding: 2em 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 2px 20% 2px 40%;
      grid-template-columns: 30% 2px 20% 2px 40%;
  -webkit-column-gap: 2%;
          column-gap: 2%;
}

footer .logo {
  width: 100%;
}

footer .divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .divider .bar {
  height: 85%;
  width: 2px;
  background-color: #FFF;
}

footer .col1 form {
  margin: 2em 0;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

footer .social img {
  width: 2.5em;
}

footer .social a {
  margin: 0 1em;
}

footer .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-weight: 500;
}

footer .col2 a {
  color: #FFF;
}

footer .col2 p {
  display: inline-block;
}

footer .col2 p:hover {
  text-decoration: underline;
}

footer .col3 img {
  width: 100%;
  max-height: 28em;
  margin: 1em 0;
}

footer .col3 p {
  margin: 0;
}

footer .col3 p:first-child {
  font-weight: 600;
}

footer .hashtag {
  float: right;
  font-weight: 500;
}

/***************** About Page ******************/
.nav2 {
  margin: 2em 0 0 0;
}

.nav2 img {
  width: 20em;
}

.nav2 .navbar-collapse .navbar-nav .highlight {
  color: #FD7361;
}

.nav2 .navbar-collapse .navbar-nav p {
  color: #000;
}

.nav2 .navbar-collapse .navbar-nav button p {
  color: #FFF;
}

.mission-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
}

.mission-container h1 {
  color: #000C54;
  display: inline-block;
  font-weight: 600;
  margin: 0;
}

.mission-container h3 {
  font-weight: 600;
  margin: 0 0 1em 0;
}

.mission-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mission-container .bar-sm {
  width: 3em;
  height: .35em;
  background-color: #FD7361;
  margin: 1em 0 1.5em 0;
}

.mission-container .mission-list {
  background-color: #808cFB;
  color: #FFF;
  padding: 2em;
}

.mission-container .left {
  width: 48%;
}

.mission-container .left p {
  margin: 1em 0;
  font-size: 1.15em;
}

.mission-container .right {
  width: 48%;
}

.about-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 0 5%;
  margin: 2em 0;
}

.about-button-container a {
  color: #FFF;
}

.about-button-container a:first-child div {
  background-color: #0025F8;
  margin: 0 1em 0 0;
}

.about-button-container a:nth-child(2) div {
  background-color: #FD7361;
}

.about-button-container a:hover {
  text-decoration: none;
}

.about-button-container p {
  margin: 0;
}

.about-button-container div {
  padding: 1em;
}

.explanation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
  margin: 5em 0;
}

.explanation-container h1 {
  color: #0025F8;
  font-weight: 600;
}

.explanation-container span {
  color: #FD7361;
}

.explanation-container p {
  font-size: 1.1em;
  font-weight: 600;
}

.explanation-container .left {
  width: 48%;
}

.explanation-container .right {
  width: 48%;
}

.about-title {
  margin: 4em 0;
  padding: 0 5%;
}

.about-title h1 {
  font-weight: 600;
  color: #000C54;
  display: inline-block;
  margin: 0;
}

.about-title .bar-sm {
  width: 3em;
  height: .35em;
  background-color: #808cFB;
  margin: 1em 0 1.5em 0;
}

.photo-section {
  margin: 3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo-section p {
  color: #000;
}

.photo-section a {
  color: #000C54;
  text-decoration: underline;
  font-weight: 600;
}

.photo-section .name {
  color: #000C54;
  font-weight: 600;
  font-size: 1.25em;
}

.photo-section .team-img-container {
  width: 40%;
}

.photo-section .team-img-container img {
  width: 100%;
}

.photo-section .headshot-container {
  background-color: #808cFB;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 0 1.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.photo-section .person-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  width: 100%;
}

.photo-section .grid {
  display: -ms-grid;
  display: grid;
  width: 55%;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  row-gap: 2em;
}

.photo-section .grid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.photo-section .grid div img {
  width: 100%;
}

.scale-position1 {
  -webkit-transform: scale(2);
          transform: scale(2);
  -o-object-position: -1em .5em;
     object-position: -1em .5em;
}

.scale-position2 {
  -webkit-transform: scale(2);
          transform: scale(2);
  -o-object-position: 0 .5em;
     object-position: 0 .5em;
}

.scale-position3 {
  -webkit-transform: scale(2);
          transform: scale(2);
  -o-object-position: 0 .6em;
     object-position: 0 .6em;
}

.team-container {
  padding: 0 5%;
}

.team-container h1 {
  font-weight: 600;
  color: #000C54;
}

.team-container a {
  color: #000C54;
  font-size: 1.25em;
  font-weight: 600;
}

.leadership .grid {
  -ms-grid-columns: 28% 28% 28%;
      grid-template-columns: 28% 28% 28%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

.partnerships .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partnerships .grid {
  -ms-grid-columns: 28% 28% 28%;
      grid-template-columns: 28% 28% 28%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

.operations .grid {
  -ms-grid-columns: 28% 28% 28%;
      grid-template-columns: 28% 28% 28%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

.marketing .grid {
  -ms-grid-columns: 28% 28% 28%;
      grid-template-columns: 28% 28% 28%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

.technology .grid {
  -ms-grid-columns: 28% 28% 28%;
      grid-template-columns: 28% 28% 28%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

.ambassadors h2 {
  color: #000C54;
  font-weight: 600;
  margin-bottom: 1em;
}

.ambassadors .photo-section {
  display: block;
}

.ambassadors .grid {
  width: 100%;
  -ms-grid-columns: (14%)[6];
      grid-template-columns: repeat(6, 14%);
  -webkit-column-gap: 3%;
          column-gap: 3%;
}

/********************* Attend Page *********************/
.general-header-container {
  padding: 0 5%;
  margin: 0 0 5em 0;
}

.general-header-container h1 {
  font-weight: 600;
  color: #000C54;
}

.general-header-container .bar-sm {
  width: 3em;
  height: .35em;
  background-color: #FD7361;
  margin: 1em 0 1.5em 0;
}

.info-container {
  padding: 0 5%;
  font-size: 1.25em;
}

.info-container span {
  font-weight: 600;
}

.info-container ul {
  list-style: none;
  padding: 0;
}

.info-container li {
  margin: .5em 0;
}

.info-container li:before {
  content: "\2605";
  margin-right: 1em;
}

.info-container .horizontal-line {
  width: 5px;
  height: 100%;
}

.info-container .left {
  padding: 2em 2em;
  margin: 0 2em 0 0;
  width: 40%;
}

.info-container .right {
  width: 50%;
}

.prehacks-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 3em 0;
}

.prehacks-info h4 {
  margin-bottom: 1em;
  font-weight: 600;
}

.prehacks-info .left {
  background-color: #0AA895;
  color: #FFF;
}

.prehacks-info .right {
  color: #0AA895;
}

.hacker-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 3em 0;
}

.hacker-info h4 {
  margin-bottom: 1em;
  font-weight: 600;
}

.hacker-info .left {
  background-color: #C4C4C4;
  color: #6B7373;
}

.signup-container {
  padding: 0 5%;
  color: #000C54;
  scrollbar-color: #E73F33;
}

.signup-container span {
  color: #808cFB;
  font-weight: 600;
}

.signup-container h5 {
  font-size: 1.25em;
  font-weight: 600;
}

.signup-container .line {
  margin: 5em 0;
  width: 95%;
  height: 1px;
  background-color: #6B7373;
}

.signup-container .container-fluid {
  overflow-x: auto;
}

.signup-container .scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10em;
}

.signup-container .scroll::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.signup-container .scroll::-webkit-scrollbar-thumb {
  border-radius: 10em;
  background-color: #808cFB;
}

.signup-container .card {
  padding: 2em 5%;
  min-height: 35em;
}

.signup-container .card-divider {
  height: 1px;
  width: 100%;
  margin: 2em 0;
  background-color: #6B7373;
}

.signup-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.signup-container .button-container div {
  width: 60%;
  margin: 2em 0;
  background-color: #808cFB;
}

.signup-container .button-container p {
  font-size: 1.5em;
  font-weight: 600;
  padding: .5em 0;
  color: #FFF;
  margin: 0;
}

.signup-container .button-container a {
  text-align: center;
  display: inline;
}

.signup-container .button-container a:hover {
  text-decoration: none;
}

.contact-info-container {
  padding: 0 5%;
  margin: 3em 0;
}

.contact-info-container .line {
  margin: 2em 0;
  width: 100%;
  height: 1px;
  background-color: #6B7373;
}

.contact-info-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contact-info-container p {
  width: 50%;
  text-align: end;
}

.contact-info-container a {
  text-decoration: underline;
  color: #000;
}

.faq-container {
  margin: 5em 0;
  padding: 0 5%;
}

.faq-container h1 {
  display: inline-block;
  color: #000C54;
  font-weight: 600;
  margin: 0;
}

.faq-container h3 {
  font-weight: 600;
}

.faq-container .bar-sm {
  width: 3em;
  height: .35em;
  background-color: #FD7361;
  margin: 1em 0 1.5em 0;
}

.faq-container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

.faq-container .grid .col1 div,
.faq-container .grid .col2 div,
.faq-container .grid .col3 div {
  margin: 3em 0;
}

.faq-container .grid .col1 .bar-sm {
  background-color: #0025F8;
  width: 2em;
  height: .35em;
  margin: 1em 0 2em 0;
}

.faq-container .grid .col2 .bar-sm {
  background-color: #FD7361;
  width: 2em;
  height: .35em;
  margin: 1em 0 2em 0;
}

.faq-container .grid .col3 .bar-sm {
  background-color: #808cFB;
  width: 2em;
  height: .35em;
  margin: 1em 0 2em 0;
}

/******************** Media Queries ********************/
/* tablet and phone */
@media screen and (max-width: 1024px) {
  .headline .button1,
  .headline .button2 {
    width: 100%;
  }
  .background-image .navbar-toggler-icon {
    background-image: url(/assets/imgs/nav-hamburger.png);
  }
  .background-image .nav-item {
    text-align: center;
  }
  .background-image .nav-item img {
    margin-bottom: 1em;
  }
  .track-container .tracks {
    -ms-grid-columns: 47.5% 47.5%;
        grid-template-columns: 47.5% 47.5%;
    -webkit-column-gap: 5%;
            column-gap: 5%;
    margin: 4em 0 2em 0;
  }
  .explore-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 0;
  }
  .explore-container .text {
    width: 100%;
    padding: 5em 20% 5em 10%;
  }
  .explore-container .carousel {
    width: 100%;
  }
  .stats-container .carousel {
    width: 100%;
  }
  .photo-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .photo-section p {
    color: #000;
  }
  .photo-section a {
    color: #000C54;
    text-decoration: underline;
    font-weight: 600;
  }
  .photo-section .name {
    color: #000C54;
    font-weight: 600;
    font-size: 1.25em;
  }
  .photo-section .team-img-container {
    width: 40%;
  }
  .photo-section .team-img-container img {
    width: 100%;
  }
  .photo-section .headshot-container {
    background-color: #808cFB;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 0 1.5em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
  .photo-section .person-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
    width: 100%;
  }
  .photo-section .grid {
    display: -ms-grid;
    display: grid;
    width: 55%;
    -webkit-column-gap: 2%;
            column-gap: 2%;
    row-gap: 2em;
  }
  .photo-section .grid div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .photo-section .grid div img {
    width: 100%;
  }
  .sponsor-container .title-sponsor p {
    font-size: 1.25em;
  }
  .sponsor-container .job-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    padding: 0 5%;
  }
  .sponsor-container .job-section .carousel-container,
  .sponsor-container .job-section .sponsor-logos {
    width: 100%;
  }
  .sponsor-container .job-section .sponsor-logos {
    min-height: 20em;
  }
}

/* phone only */
@media screen and (max-width: 500px) {
  header {
    margin-bottom: 3em;
  }
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
  }
  .nav2 img {
    width: 10em;
  }
  .navbar {
    padding: 0 5%;
  }
  .headline h2 {
    font-size: 1.5em;
  }
  .headline h3 {
    font-size: 1.25em;
  }
  .headline .text-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .headline .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .headline .button1,
  .headline .button2 {
    margin: .5em 0;
  }
  .background-image .logo {
    display: none;
  }
  .background-image .logo-2 {
    width: 3em;
    display: inline-block;
  }
  .background-image .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-container {
    padding: 0;
  }
  .about-container .carousel {
    height: 25em;
  }
  .about-container .col-sm-12,
  .about-container .carousel {
    padding: 0;
  }
  .about-container .about {
    padding: 0 10%;
  }
  .showcase-container div .about {
    padding: 4em 10% 4em 10%;
  }
  .showcase-container div .about h1 {
    border-bottom-color: #000C54;
  }
  .showcase-container div .about p {
    font-size: 1em;
  }
  .track-container {
    padding: 0 10%;
  }
  .track-container .about,
  .track-container .about2 {
    padding: 0;
  }
  .track-container .left {
    padding: 0;
  }
  .track-container .right {
    padding: 0;
  }
  .explore-container .text {
    padding: 2em 10%;
  }
  .explore-container .text h1 {
    margin-top: 1em;
    font-size: 2em;
  }
  .explore-container .text p {
    font-size: 1em;
  }
  .stats-container {
    padding: 0 0 2em 0;
  }
  .stats-container h1 {
    margin: 1em 10%;
  }
  .get-involved-container {
    padding: 0;
  }
  .get-involved-container .text-section {
    padding: 0 10%;
  }
  .get-involved-container .carousel {
    margin-top: 2em;
    padding: 0;
    height: 25em;
  }
  .get-involved-container .buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .get-involved-container .buttons div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1em 0;
    width: 100%;
  }
  .get-involved-container .col-sm-12 {
    padding: 0;
  }
  .schedule-container {
    padding: 5em 10%;
  }
  .schedule-container .grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    row-gap: 2em;
  }
  .faq-container {
    padding: 0 10%;
  }
  .faq-container .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-column-gap: 0%;
            column-gap: 0%;
  }
  .sponsor-container .carousel {
    height: 25em;
  }
  .sponsor-container .header {
    padding: 4em 10%;
  }
  .sponsor-container .info-section {
    padding: 0;
  }
  .sponsor-container .text-section {
    margin: 2em 0;
    padding: 0 10%;
  }
  .sponsor-container .very-top-sponsors,
  .sponsor-container .top-sponsors,
  .sponsor-container .mid-sponsors,
  .sponsor-container .low-sponsors {
    margin: 0;
  }
  .sponsor-container .very-top-sponsors .grid,
  .sponsor-container .top-sponsors .grid,
  .sponsor-container .mid-sponsors .grid,
  .sponsor-container .low-sponsors .grid {
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
    row-gap: 3em;
  }
  .sponsor-container .very-top-sponsors .grid {
    -ms-grid-rows: minmax(5em, 12em);
        grid-template-rows: minmax(5em, 12em);
    margin: 5em 0 2em 0;
  }
  .sponsor-container .top-sponsors .grid {
    -ms-grid-rows: minmax(5em, 12em);
        grid-template-rows: minmax(5em, 12em);
    margin: 2em 0;
  }
  .sponsor-container .mid-sponsors .grid {
    -ms-grid-rows: minmax(5em, 12em);
        grid-template-rows: minmax(5em, 12em);
    margin: 2em 0;
  }
  .sponsor-container .low-sponsors .grid {
    -ms-grid-rows: minmax(5em, 10em);
        grid-template-rows: minmax(5em, 10em);
    margin: 2em 0 5em 0;
  }
  .sponsor-container .col-sm-12 {
    padding: 0;
  }
  .sponsor-container .job-section .sponsor-logos {
    min-height: 10em;
  }
  .sponsor-container .job-section .carousel {
    height: 55em;
  }
  .mission-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10%;
  }
  .mission-container img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mission-container .mission-list {
    margin: 1em 0;
  }
  .mission-container .left {
    width: 100%;
  }
  .mission-container .right {
    width: 100%;
  }
  .about-button-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10%;
  }
  .about-button-container a:first-child div {
    margin: 1em 0;
  }
  .explanation-container {
    padding: 0 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .explanation-container h1 {
    margin: 1em 0;
  }
  .explanation-container .left,
  .explanation-container .right {
    width: 100%;
  }
  .about-title {
    padding: 0 10%;
  }
  .team-container {
    padding: 0 10%;
  }
  .team-container .photo-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team-container .team-img-container {
    width: 100%;
  }
  .team-container .grid {
    margin: 1em 0;
    width: 100%;
  }
  .leadership .grid,
  .partnerships .grid,
  .operations .grid,
  .marketing .grid,
  .technology .grid {
    -ms-grid-columns: 47.5% 47.5%;
        grid-template-columns: 47.5% 47.5%;
    -webkit-column-gap: 5%;
            column-gap: 5%;
  }
  .ambassadors .grid {
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
    -webkit-column-gap: 3%;
            column-gap: 3%;
  }
  .info-container {
    padding: 0 10%;
  }
  .prehacks-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prehacks-info .left,
  .prehacks-info .right {
    width: 100%;
    margin: 1em 0;
  }
  .hacker-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hacker-info .left,
  .hacker-info .right {
    width: 100%;
    margin: 1em 0;
  }
  .signup-container {
    padding: 0 10%;
  }
  .contact-info-container {
    padding: 0 10%;
  }
  .contact-info-container p {
    width: 80%;
  }
  footer {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    row-gap: 2em;
    padding: 2em 5% 1em 5%;
  }
  footer .col1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: .5em 0;
  }
  footer .col2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: block;
    padding: .5em 0;
  }
  footer .col3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: .5em 0;
  }
  footer .divider {
    display: none;
  }
}

/* tablet only */
@media screen and (max-width: 1024px) and (min-width: 501px) {
  .headline h1 {
    font-size: 2.5em;
  }
  .headline .button-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sponsor-container .very-top-sponsors,
  .sponsor-container .top-sponsors,
  .sponsor-container .mid-sponsors,
  .sponsor-container .low-sponsors {
    margin: 3em;
  }
  .sponsor-container .very-top-sponsors .grid {
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    -ms-grid-rows: 15em;
        grid-template-rows: 15em;
  }
  .sponsor-container .top-sponsors .grid {
    -ms-grid-rows: 5em;
        grid-template-rows: 5em;
  }
  .sponsor-container .mid-sponsors .grid {
    -ms-grid-rows: 5em 5em;
        grid-template-rows: 5em 5em;
  }
  .sponsor-container .low-sponsors .grid {
    -ms-grid-rows: 5em 5em;
        grid-template-rows: 5em 5em;
  }
  .photo-section .team-img-container {
    width: 30%;
  }
  .photo-section .grid {
    width: 65%;
  }
  .ambassadors .grid {
    width: 100%;
    -ms-grid-columns: (20%)[4];
        grid-template-columns: repeat(4, 20%);
    -webkit-column-gap: 5%;
            column-gap: 5%;
  }
  .contact-info-container p {
    width: 60%;
  }
  .signup-container .card {
    min-height: 40em;
  }
}

/* Hamburger Menu*/
@media screen and (max-width: 991px) {
  nav p {
    color: #000C54 !important;
  }
  nav ul.navbar-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    padding: 0;
    text-align: center;
    z-index: 20;
    background-color: #808cFB;
  }
  nav ul.navbar-nav li:last-child button {
    margin: 1em 0;
  }
  nav #mlh-trust-badge {
    right: 5.5em !important;
  }
  nav .mobile {
    display: none;
  }
  nav .mobile2 {
    display: block;
  }
  nav .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav .navbar-collapse li {
    height: 25vh;
    border-bottom: solid #555353 1px;
  }
  nav .navbar-collapse li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  nav .navbar-collapse .border-change {
    border-bottom: solid #000 0px;
  }
  nav .navbar-collapse .navbar-nav li {
    margin: 0;
  }
  nav .navbar-toggler {
    display: inline-block;
    position: fixed;
    top: 3em;
    right: 5%;
    z-index: 30;
  }
  nav .display-toggle {
    display: none;
  }
}

/* Misc Queries */
@media screen and (max-width: 1475px) and (min-width: 1025px) {
  .headline .button2 br {
    display: block;
  }
}
