$pink: #FD7361;
$purple: #808cFB;
$blue: #52D9F6;
$red: #E73F33;
$dark-blue: #000C54;
$ocean-blue: #0025F8;
$light-purple: rgba(128, 140, 251, 0.2);
$button-radius: 100px;
$green: #0AA895;
$gray:#C4C4C4;
$gray2: #6B7373;

body {
    font-family: Barlow !important;
    font-size: 16px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1em;
}

.pink {
    color: $pink;
}

.purple {
    color: $purple;
}

.background-image {
    background-color: $dark-blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2em 2%;
    min-height: 100vh;

    .logo {
        width: 15em;
    }

    .logo-2 {
        display: none;
    }

    .navbar-toggler-icon {
        background-image: url(/assets/imgs/nav-hamburger.png);
    }

}

header {
    margin-bottom: 5em;
}

.navbar-toggler-icon {
    // modifying bootstrap
    color: #FFF;
}

.navbar-toggler-icon {
    background-image: url(/assets/imgs/graphics/hamburger.svg) !important;
}

.mobile2 {
    display: none;
}

.navbar {
    padding: 0 2%;
}

.navbar-collapse {

    .navbar-nav {
        flex-flow: row wrap;
        width: 100%;
        justify-content: flex-end;

        li {
            margin: 0 1vw;
        }

        img {
            width: 2em;
            height: 2em;
        }

        p {
            color: #fff;
            font-weight: 600;
            margin: 0;
        }

        a {
            &:hover {
                text-decoration: none;
            }
        }

        button {
            color: #fff;
            background-color: $ocean-blue;
            border: none;

            p {
                margin: 0;
                padding: 1px 2.5em;
            }
        }

        li {
            &:last-child {
                button {
                    background-color: $ocean-blue;

                    a {
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.headline {
    margin: 5em 0 0 0;

    img {
        width: 100%;
    }

    h1 {
        font-size: 3em;
        font-weight: 600;
        line-height: 1em;
        color: #fff;
        padding: 0;
    }

    h2 {
        font-size: 1.5em;
        color: #fff;
        font-weight: 600;
    }

    h3 {
        font-size: 1.25em;
        color: #fff;
        margin: 1em 0 03em 0;
        font-weight: 500;
    }

    a {
        color: #FFF;

        &:hover {
            text-decoration: none;
        }
    }

    .bar-sm {
        width: 3em;
        height: .35em;
        background-color: $pink;
        margin: 1em 0 1.5em 0;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .button1,
    .button2 {
        margin: 0;
        padding: .5em .5em;
        margin: .5em;
        color: #fff;
        font-weight: 600;
        font-size: 1.5em;
        text-align: center;

        p {
            margin: 0;
        }
    }

    br {
        display: none;
    }

    .text-section {
        margin: 2em 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin: 0;
        }
    }

    .team-img-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .button1 {
        background-color: $pink;
        width: 42%;
        font-size: 1.2em;
    }

    .button2 {
        background-color: $ocean-blue;
        width: 42%;
        font-size: 1.2em;
    }

}

.about-container {
    padding: 0 5%;

    h2 {
        color: $purple;
        font-weight: 600;
        margin: 1.5em 0;
        font-size: 2.25em;

        span {
            color: $pink;
        }
    }

    p {
        color: $dark-blue;
        font-weight: 500;
        font-size: 1.25em;
    }

    .carousel {
        padding: 0 2em;
        height: 50em;
        width: 100%;

        .carousel-inner,
        .carousel-item {
            height: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
        }

        li {
            height: 1em;
            width: 1em;
            border-radius: 50%;
        }
    }

    .col-12 {
        padding: 0;
    }
}

.showcase-container {
    margin: 3em 0;

    h1 {
        font-weight: 600;
        margin-bottom: 0;
    }

    div {
        padding: 0;

        .about {
            padding: 4em 7.5%;

            h1 {
                color: $dark-blue;
                display: inline-block;
            }

            p {
                font-weight: 500;
                margin: 1em 0;
                font-size: 1.25em;
            }

        }
    }

    p {
        font-weight: 500;
    }

    a {
        color: $dark-blue;
        font-weight: 600;
    }

    .bar-sm {
        width: 3em;
        height: .35em;
        background-color: $ocean-blue;
        margin: 1em 0 1.5em 0;
    }

    // svg {
    //     stroke: $dark-blue;
    //     color: $dark-blue;
    // }

    .carousel-control-prev {
        background: transparent;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(25%);
    }

    .carousel {
        width: 100%;

        .carousel-inner,
        .carousel-item {
            height: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
        }

        li {
            height: 1em;
            width: 1em;
            background-color: $dark-blue;
            border-radius: 50%;
        }

    }

}

.track-container {
    padding: 0 5%;

    .bar-sm {
        width: 3em;
        height: .35em;
        background-color: $pink;
        margin: 1em 0 1.5em 0;
    }

    .left {
        padding: 0 5% 0 0;
        width: 100%;
    }

    .right {
        padding: 0 0 0 5%;
        width: 100%;

        img {
            width: 100%;
        }

        h1 {
            color: $dark-blue;
            margin: 1em 0;
            font-weight: 600;
        }

        p {
            font-weight: 600;
        }

    }

    .title {
        h1 {
            display: inline-block;
            color: $dark-blue;
            font-weight: 600;
            margin-bottom: 0;
        }

        h3 {
            color: $purple;
            font-weight: 600;
        }
    }

    .tracks {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: auto auto;
        margin: 5em 0;
        column-gap: 5%;
        row-gap: 2em;

        img {
            width: 100%;
        }

        p {
            font-size: 1.25em;
            text-align: center;
            color: $dark-blue;
            font-weight: 600;
            margin: 1em 0 0 0;
        }

        #track1,
        #track2,
        #track3,
        #track4 {
            cursor: pointer;
        }

        #track2,
        #track3,
        #track4 {
            div {
                background-color: #FFF;
            }

            img {
                opacity: .25;
            }
        }

    }

    #track2_text,
    #track3_text,
    #track4_text {
        display: none;
    }

}

.explore-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-blue;
    margin: 7em 0 0 0;
    padding: 5em 0;

    .bar-sm {
        width: 3em;
        height: .35em;
        background-color: $dark-blue;
        margin: 1em 0 1.5em 0;
    }

    .text {
        color: #fff;
        background-color: $purple;
        padding: 12.5em 5em 12.5em 5em;
        width: 40%;

        h1 {
            font-weight: 600;
            display: inline-block;
            margin-bottom: 0;
        }

        p {
            font-size: 1.25em;
            font-weight: 500;
        }

    }

    .carousel {
        width: 50%;

        img {
            height: 100vh;
            object-fit: cover;
        }
    }

    .carousel-indicators {
        li {
            height: 1em;
            width: 1em;
            border-radius: 50%;
        }
    }
}

.stats-container {
    background-color: $dark-blue;
    padding: 5em 5%;

    h1 {
        display: inline-block;
        color: #FFF;
        font-weight: 600;
        margin: 0;
    }

    .bar-sm {
        width: 3em;
        height: .35em;
        background-color: $blue;
        margin: 1em 0 1.5em 0;
    }

    .carousel-inner,
    .carousel-item {
        height: 100%;
    }

    img {
        height: 100%;
        object-fit: cover;
    }

    li {
        height: 1em;
        width: 1em;
        border-radius: 50%;
        background-color: $purple;
    }

    .carousel-control-prev {
        background: transparent;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(25%);
    }

    .carousel-container {
        display: flex;
        justify-content: center;
    }

    .carousel {
        margin: 2em 0;
        width: 60%;
    }
}

.get-involved-container {
    margin: 5em 0;
    padding: 0 5%;

    h1 {
        display: inline-block;
        color: $dark-blue;
        font-weight: 600;
        margin: 0;
    }

    h4 {
        font-weight: 600;
    }

    p {
        color: $dark-blue;
        font-size: 1.25em;
        font-weight: 500;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .bar-sm {
        width: 3em;
        height: .35em;
        background-color: $ocean-blue;
        margin: 1em 0 1.5em 0;
    }

    .buttons {
        display: flex;
        justify-content: flex-start;
        flex-flow: wrap;

        div {
            padding: 1.5em 1em;
            margin: 1em .5em;
            width: 18em;
            text-align: center;
            border: none;

            &:first-child {
                background-color: $ocean-blue;
            }

            &:nth-child(2) {
                background-color: $pink;
            }
        }

        a {
            display: inline;
        }

        p {
            color: #FFF;
            font-weight: 600;
            font-size: 1.5em;
            margin: 0;
            text-align: center;
        }
    }

    .text-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0 1em 0 0;
    }

    .carousel {
        width: 100%;
        height: 35em;

        .carousel-inner,
        .carousel-item {
            height: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
        }

        li {
            height: 1em;
            width: 1em;
            border-radius: 50%;
        }
    }

    .col-12 {
        padding: 0;
    }
}

.schedule-container {
    background-color: $dark-blue;
    color: #FFF;
    margin: 5em 0 0 0;
    padding: 5em 5%;

    h1 {
        display: inline-block;
        font-weight: 600;
        margin: 0;
    }

    .bar-sm {
        width: 3em;
        height: .35em;
        background-color: $blue;
        margin: 1em 0 1.5em 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 5%;
        margin: 3em 0;

        .col1,
        .col2,
        .col3 {
            div {
                margin: 2em 0;

                &:first-child {
                    margin: 0 0 2em 0;
                }
            }
        }

        div {
            p {
                font-weight: 600;
                font-size: 1.1em;

                &:first-child {
                    font-size: 1.25em;
                }
            }
        }

        h2 {
            font-size: 2.25em;
        }

        .col1 {
            h2 {
                color: $purple;
                font-weight: 600;
            }
        }

        .col2 {
            h2 {
                color: $blue;
                font-weight: 600;
            }
        }

        .col3 {
            h2 {
                color: $pink;
                font-weight: 600;
            }
        }
    }

}


.sponsor-container {
    margin: 0 0 5em 0;

    a {
        float: right;
        margin: 3em 0 0 0;

        p {
            font-size: 1.1em;
            margin: 0;
            display: inline-block;
        }

        span {
            color: $pink;
        }

    }

    .header {
        background-color: $purple;
        color: #FFF;
        padding: 4em 5%;
        margin: 0 0 5em 0;

        h1 {
            margin: 0 0 1em 0;
            font-weight: 600;
        }

        h5 {
            font-size: 500;
        }
    }

    .info-section {
        padding: 0 5%;
        margin: 3em 0;
        width: 100%;
    }

    .text-section {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 2em 5%;

        div {
            margin: 0;
        }

        h2 {
            display: inline-block;
            font-weight: 600;
            font-size: 2.25em;
            margin: 0;
        }

        h3 {
            display: inline-block;
            font-weight: 600;
            color: $purple;
            margin: .5em 0;
        }

        span {
            color: $pink;
        }

        p {
            font-weight: 600;
            color: $dark-blue;
        }
    }

    .carousel {
        width: 100%;
        height: 35em;

        img {
            height: 100%;
            object-fit: cover;
        }

        .carousel-inner,
        .carousel-item {
            height: 100%;
            margin: 0;
        }

        li {
            height: 1em;
            width: 1em;
            border-radius: 50%;
        }
    }

    .col-12 {
        padding: 0;
    }

    .title {
        .bar-sm {
            width: 3em;
            height: .35em;
            background-color: $dark-blue;
            margin: 1em 0 1.5em 0;
        }
    }

    .very-top-sponsors,
    .top-sponsors,
    .mid-sponsors,
    .low-sponsors {
        padding: 0 2.5%;
        margin: 5em 0;

        .grid {
            justify-content: center;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
            }

            a {
                margin: 0;
            }
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }

    }

    .very-top-sponsors {
        .grid {
            display: grid;
            grid-template-columns: 35%;
            grid-template-rows: 20em;
        }
    }

    .top-sponsors {
        .grid {
            display: grid;
            grid-template-columns: 30% 30%;
            grid-template-rows: 20em;
            grid-column-gap: 10%;
            grid-row-gap: 2em;
            text-align: center;
        }
    }

    .mid-sponsors {
        .grid {
            display: grid;
            grid-template-columns: 25% 25% 25%;
            grid-template-rows: 12em 12em;
            grid-row-gap: 2em;
            grid-column-gap: 5%;

        }
    }

    .low-sponsors {
        .grid {
            display: grid;
            grid-template-columns: 17% 17% 17% 17%;
            grid-template-rows: 7em 7em;
            grid-row-gap: 2em;
            grid-column-gap: 5%;

            div {
                &:nth-child(10) {
                    img {
                        width: 10em;
                    }
                }
            }
        }
    }

    .title-sponsor {
        display: flex;
        flex-flow: column;

        p {
            color: $purple;
            font-weight: 600;
            font-size: 1.5em;
            margin: 0;
        }
    }

    .carousel {
        a {
            margin: 0;
        }
    }

    .job-section {
        margin: 5em 0 10em 0;
        padding: 0 0 0 5%;
        width: 100%;
        display: flex;
        align-items: center;

        p {
            color: $dark-blue;
        }

        a {
            float: none;
            text-decoration: underline;
            color: $dark-blue;
            font-weight: 600;
        }

        li {
            height: 1em;
            width: 1em;
            border-radius: 50%;
            background-color: #000;
        }

        img {
            width: 100%;
        }

        .sponsor-logos {
            img {
                &:nth-child(1) {
                    display: block;
                }
            }
        }

        .carousel-container,
        .sponsor-logos {
            width: 50%;
        }

        .carousel {
            width: 100%;
            height: 40em;
        }

        .sponsor-logos,
        .carousel {
            padding: 2em;
        }

        .carousel {
            // height: auto;
            padding: 0;

            a {
                width: 10%;
            }
        }

        .carousel-inner,
        .carousel-item {
            // height: auto;
            margin: 0;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            filter: invert(50%);
        }

        .description-section {
            background-color: $light-purple;
            padding: 5em 10%;
            height: 100%;
        }

        .hidden {
            display: none;
        }

        .list-reset {
            li {
                height: auto;
                width: auto;
                background-color: transparent;
            }

            p{
                margin: 0;
            }

            a{
                cursor: pointer;
                font-weight: 500;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .modal-body{
        a{
            margin: 0;
            float: none;
            color: $purple;
        }
    }

    .sponsor-section-title {
        padding: 0 5%;
        margin: 5em 0 0 0;

        h1 {
            color: $dark-blue;
            font-weight: 600;
        }
    }
}



footer {
    background-color: $dark-blue;
    color: #FFF;
    padding: 2em 3%;
    display: grid;
    grid-template-columns: 30% 2px 20% 2px 40%;
    column-gap: 2%;

    .logo {
        width: 100%;
    }

    .divider {
        display: flex;
        align-items: center;

        .bar {
            height: 85%;
            width: 2px;
            background-color: #FFF;
        }
    }

    .col1 {
        form {
            margin: 2em 0;
        }
    }

    .social {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;

        img {
            width: 2.5em;
        }

        a {
            margin: 0 1em;
        }

    }

    .col2 {
        display: flex;
        justify-content: center;
        flex-flow: column;
        font-weight: 500;

        a {
            color: #FFF;
        }

        p {
            display: inline-block;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .col3 {
        img {
            width: 100%;
            max-height: 28em;
            margin: 1em 0;
        }

        p {
            margin: 0;

            &:first-child {
                font-weight: 600;
            }

        }
    }

    .hashtag {
        float: right;
        font-weight: 500;
    }

}


/***************** About Page ******************/

.nav2 {
    margin: 2em 0 0 0;

    img {
        width: 20em;
    }

    .navbar-collapse {
        .navbar-nav {
            .highlight {
                color: $pink;
            }
        }
    }

    .navbar-collapse {
        .navbar-nav {
            p {
                color: #000;
            }
        }
    }

    .navbar-collapse {
        .navbar-nav {
            button {
                p {
                    color: #FFF;
                }
            }
        }
    }
}

.mission-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;

    h1 {
        color: $dark-blue;
        display: inline-block;
        font-weight: 600;
        margin: 0;
    }

    h3 {
        font-weight: 600;
        margin: 0 0 1em 0;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .bar-sm {
        width: 3em;
        height: .35em;
        background-color: $pink;
        margin: 1em 0 1.5em 0;
    }

    .mission-list {
        background-color: $purple;
        color: #FFF;
        padding: 2em;
    }

    .left {
        width: 48%;

        p {
            margin: 1em 0;
            font-size: 1.15em;
        }
    }

    .right {
        width: 48%;
    }

}

.about-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 5%;
    margin: 2em 0;

    a {
        color: #FFF;

        &:first-child {
            div {
                background-color: $ocean-blue;
                margin: 0 1em 0 0;
            }
        }

        &:nth-child(2) {
            div {
                background-color: $pink;
            }
        }

        &:hover {
            text-decoration: none;
        }

    }

    p {
        margin: 0;
    }

    div {
        padding: 1em;
    }
}

.explanation-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    margin: 5em 0;

    h1 {
        color: $ocean-blue;
        font-weight: 600;
    }

    span {
        color: $pink;
    }

    p {
        font-size: 1.1em;
        font-weight: 600;
    }

    .left {
        width: 48%;
    }

    .right {
        width: 48%;
    }
}

.about-title {
    margin: 4em 0;
    padding: 0 5%;

    h1 {
        font-weight: 600;
        color: $dark-blue;
        display: inline-block;
        margin: 0;
    }

    .bar-sm {
        width: 3em;
        height: .35em;
        background-color: $purple;
        margin: 1em 0 1.5em 0;
    }

}

.photo-section {
    margin: 3em 0;
    display: flex;
    justify-content: space-between;

    p {
        color: #000;
    }

    a {
        color: $dark-blue;
        text-decoration: underline;
        font-weight: 600;
    }

    .name {
        color: $dark-blue;
        font-weight: 600;
        font-size: 1.25em;
    }

    .team-img-container {
        width: 40%;

        img {
            width: 100%;
        }
    }

    .headshot-container {
        background-color: $purple;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 0 1.5em 0;
        // width: 13em;
        // height: 13em;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
    }

    .person-container {
        display: flex;
        justify-content: flex-start;
        text-align: center;
        width: 100%;
    }

    .grid {
        display: grid;
        width: 55%;
        column-gap: 2%;
        row-gap: 2em;

        div {
            display: flex;
            flex-flow: column;

            img {
                width: 100%;
            }
        }
    }
}

.scale-position1 {
    transform: scale(2);
    object-position: -1em .5em;
}

.scale-position2 {
    transform: scale(2);
    object-position: 0 .5em;
}

.scale-position3 {
    transform: scale(2);
    object-position: 0 .6em;
}


.team-container {
    padding: 0 5%;

    h1 {
        font-weight: 600;
        color: $dark-blue;
    }

    a {
        color: $dark-blue;
        font-size: 1.25em;
        font-weight: 600;
    }

}

.leadership {
    .grid {
        grid-template-columns: 28% 28% 28%;
        column-gap: 5%;
    }
}

.partnerships {

    .center {
        display: flex;
        align-items: center;
    }

    .grid {
        grid-template-columns: 28% 28% 28%;
        grid-template-rows: auto;
        column-gap: 5%;
    }
}

.operations {
    .grid {
        grid-template-columns: 28% 28% 28%;
        column-gap: 5%;
    }
}

.marketing {
    .grid {
        grid-template-columns: 28% 28% 28%;
        column-gap: 5%;
    }
}

.technology {
    .grid {
        grid-template-columns: 28% 28% 28%;
        column-gap: 5%;
    }
}

.ambassadors {
    h2 {
        color: $dark-blue;
        font-weight: 600;
        margin-bottom: 1em;
    }

    .photo-section {
        display: block;
    }

    .grid {
        width: 100%;
        grid-template-columns: repeat(6, 14%);
        column-gap: 3%;
    }
}

/********************* Attend Page *********************/

.general-header-container {
    padding: 0 5%;
    margin: 0 0 5em 0;

    h1 {
        font-weight: 600;
        color: $dark-blue;
    }

    .bar-sm {
        width: 3em;
        height: .35em;
        background-color: $pink;
        margin: 1em 0 1.5em 0;
    }
}

.info-container {
    padding: 0 5%;
    font-size: 1.25em;

    span {
        font-weight: 600;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin: .5em 0;
    }

    li:before {
        content: "\2605";
        margin-right: 1em;
    }

    .horizontal-line {
        width: 5px;
        height: 100%;
    }

    .left {
        padding: 2em 2em;
        margin: 0 2em 0 0;
        width: 40%;
    }

    .right {
        width: 50%;
    }
}

.prehacks-info {
    display: flex;
    justify-content: flex-start;
    margin: 3em 0;

    h4 {
        margin-bottom: 1em;
        font-weight: 600;
    }

    .left {
        background-color: $green;
        color: #FFF;
    }

    .right {
        color: $green;
    }

}

.hacker-info {
    display: flex;
    justify-content: flex-start;
    margin: 3em 0;

    h4 {
        margin-bottom: 1em;
        font-weight: 600;
    }

    .left {
        background-color: $gray;
        color: $gray2;
    }
}

.signup-container {
    padding: 0 5%;
    color: $dark-blue;
    scrollbar-color: $red;

    span {
        color: $purple;
        font-weight: 600;
    }

    h5 {
        font-size: 1.25em;
        font-weight: 600;
    }

    .line {
        margin: 5em 0;
        width: 95%;
        height: 1px;
        background-color: $gray2;
    }

    .container-fluid {
        overflow-x: auto;
    }

    .scroll::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10em;
    }

    .scroll::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    .scroll::-webkit-scrollbar-thumb {
        border-radius: 10em;
        background-color: $purple;
    }

    .card {
        padding: 2em 5%;
        min-height: 35em;
    }

    .card-divider {
        height: 1px;
        width: 100%;
        margin: 2em 0;
        background-color: $gray2;
    }

    .button-container {
        display: flex;
        justify-content: center;
        width: 100%;

        div {
            width: 60%;
            margin: 2em 0;
            background-color: $purple;
        }

        p {
            font-size: 1.5em;
            font-weight: 600;
            padding: .5em 0;
            color: #FFF;
            margin: 0;
        }

        a {
            text-align: center;
            display: inline;

            &:hover {
                text-decoration: none;
            }
        }
    }

}

.contact-info-container {
    padding: 0 5%;
    margin: 3em 0;

    .line {
        margin: 2em 0;
        width: 100%;
        height: 1px;
        background-color: $gray2;
    }

    .text-container {
        display: flex;
        align-items: flex-end;
        ;
        flex-direction: column;
        width: 100%;
    }

    p {
        width: 50%;
        text-align: end;
    }

    a {
        text-decoration: underline;
        color: #000;
    }
}

.faq-container {
    margin: 5em 0;
    padding: 0 5%;

    h1 {
        display: inline-block;
        color: $dark-blue;
        font-weight: 600;
        margin: 0;
    }

    h3 {
        font-weight: 600;
    }

    .bar-sm {
        width: 3em;
        height: .35em;
        background-color: $pink;
        margin: 1em 0 1.5em 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 5%;

        .col1,
        .col2,
        .col3 {
            div {
                margin: 3em 0;
            }
        }

        .col1 {
            .bar-sm {
                background-color: $ocean-blue;
                width: 2em;
                height: .35em;
                margin: 1em 0 2em 0;
            }
        }

        .col2 {
            .bar-sm {
                background-color: $pink;
                width: 2em;
                height: .35em;
                margin: 1em 0 2em 0;
            }
        }

        .col3 {
            .bar-sm {
                background-color: $purple;
                width: 2em;
                height: .35em;
                margin: 1em 0 2em 0;
            }
        }

    }
}


/******************** Media Queries ********************/

/* tablet and phone */
@media screen and (max-width: 1024px) {

    .headline {

        .button1,
        .button2 {
            width: 100%;
        }

    }

    .background-image {
        .navbar-toggler-icon {
            background-image: url(/assets/imgs/nav-hamburger.png);
        }

        .nav-item {
            text-align: center;

            img {
                margin-bottom: 1em;
            }
        }

    }

    .track-container {
        .tracks {
            grid-template-columns: 47.5% 47.5%;
            column-gap: 5%;
            margin: 4em 0 2em 0;
        }
    }

    .explore-container {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 0;

        .text {
            width: 100%;
            padding: 5em 20% 5em 10%;
        }

        .carousel {
            width: 100%;
        }
    }

    .stats-container {
        .carousel {
            width: 100%;
        }
    }

    .photo-section {
        display: flex;
        justify-content: space-between;

        p {
            color: #000;
        }

        a {
            color: $dark-blue;
            text-decoration: underline;
            font-weight: 600;
        }

        .name {
            color: $dark-blue;
            font-weight: 600;
            font-size: 1.25em;
        }

        .team-img-container {
            width: 40%;

            img {
                width: 100%;
            }
        }

        .headshot-container {
            background-color: $purple;
            overflow: hidden;
            border-radius: 50%;
            margin: 0 0 1.5em 0;
            // width: 13em;
            // height: 13em;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 0;
            padding-bottom: 100%;
        }

        .person-container {
            display: flex;
            justify-content: flex-start;
            text-align: center;
            width: 100%;
        }

        .grid {
            display: grid;
            width: 55%;
            column-gap: 2%;
            row-gap: 2em;

            div {
                display: flex;
                flex-flow: column;

                img {
                    width: 100%;
                }
            }
        }
    }

    .sponsor-container {
        .title-sponsor {
            p {
                font-size: 1.25em;
            }
        }

        .job-section {
            flex-flow: column;
            width: 100%;
            padding: 0 5%;

            .carousel-container,
            .sponsor-logos {
                width: 100%;
            }

            .sponsor-logos {
                min-height: 20em;
            }

        }
    }
}

/* phone only */
@media screen and (max-width: 500px) {
    header {
        margin-bottom: 3em;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .nav2 {
        img {
            width: 10em;
        }
    }

    .navbar {
        padding: 0 5%;
    }

    .headline {
        h2 {
            font-size: 1.5em;
        }

        h3 {
            font-size: 1.25em;
        }

        .text-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .button-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .button1,
        .button2 {
            margin: .5em 0;
        }

    }

    .background-image {

        .logo {
            display: none;
        }

        .logo-2 {
            width: 3em;
            display: inline-block;
        }

        .navbar-nav {
            flex-direction: column;
        }

    }

    .about-container {
        padding: 0;

        .carousel {
            height: 25em;
        }

        .col-sm-12,
        .carousel {
            padding: 0;
        }

        .about {
            padding: 0 10%;
        }

    }

    .showcase-container {
        div {
            .about {
                padding: 4em 10% 4em 10%;

                h1 {
                    border-bottom-color: $dark-blue;
                }

                p {
                    font-size: 1em;
                }
            }
        }
    }

    .track-container {
        padding: 0 10%;

        .about,
        .about2 {
            padding: 0;
        }

        .left {
            padding: 0;
        }

        .right {
            padding: 0;
        }
    }

    .explore-container {

        .text {
            padding: 2em 10%;

            h1 {
                margin-top: 1em;
                font-size: 2em;
            }

            p {
                font-size: 1em;
            }
        }
    }

    .stats-container {
        padding: 0 0 2em 0;

        h1 {
            margin: 1em 10%;
        }
    }

    .get-involved-container {
        padding: 0;

        .text-section {
            padding: 0 10%;
        }

        .carousel {
            margin-top: 2em;
            padding: 0;
            height: 25em;
        }

        .buttons {
            justify-content: flex-start;

            div {
                display: flex;
                justify-content: center;
                margin: 1em 0;
                width: 100%;
            }
        }

        .col-sm-12 {
            padding: 0;
        }
    }

    .schedule-container {
        padding: 5em 10%;

        .grid {
            grid-template-columns: 100%;
            row-gap: 2em;
        }
    }

    .faq-container {
        padding: 0 10%;

        .grid {
            display: grid;
            grid-template-columns: 100%;
            column-gap: 0%;
        }

    }

    .sponsor-container {
        .carousel {
            height: 25em;
        }

        .header {
            padding: 4em 10%;
        }

        .info-section {
            padding: 0;
        }

        .text-section {
            margin: 2em 0;
            padding: 0 10%;
        }

        .very-top-sponsors,
        .top-sponsors,
        .mid-sponsors,
        .low-sponsors {
            margin: 0;

            .grid {
                grid-template-columns: 80%;
                row-gap: 3em;
            }
        }

        .very-top-sponsors {
            .grid {
                grid-template-rows: minmax(5em, 12em);
                margin: 5em 0 2em 0;
            }
        }

        .top-sponsors {
            .grid {
                grid-template-rows: minmax(5em, 12em);
                margin: 2em 0;
            }
        }

        .mid-sponsors {
            .grid {
                grid-template-rows: minmax(5em, 12em);
                margin: 2em 0;

            }
        }

        .low-sponsors {
            .grid {
                grid-template-rows: minmax(5em, 10em);
                margin: 2em 0 5em 0;
            }
        }

        .col-sm-12 {
            padding: 0;
        }

        .job-section {
            .sponsor-logos {
                min-height: 10em;
            }

            .carousel {
                height: 55em;
            }

        }

    }

    .mission-container {
        flex-direction: column;
        padding: 0 10%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .mission-list {
            margin: 1em 0;
        }

        .left {
            width: 100%;
        }

        .right {
            width: 100%;
        }
    }

    .about-button-container {
        justify-content: flex-start;
        flex-direction: column;
        padding: 0 10%;

        a {
            &:first-child {
                div {
                    margin: 1em 0;
                }
            }
        }
    }

    .explanation-container {
        padding: 0 10%;
        flex-direction: column;

        h1 {
            margin: 1em 0;
        }

        .left,
        .right {
            width: 100%;
        }
    }

    .about-title {
        padding: 0 10%;
    }

    .team-container {
        padding: 0 10%;

        .photo-section {
            flex-direction: column;
        }

        .team-img-container {
            width: 100%;
        }

        .grid {
            margin: 1em 0;
            width: 100%;
        }
    }

    .leadership,
    .partnerships,
    .operations,
    .marketing,
    .technology {
        .grid {
            grid-template-columns: 47.5% 47.5%;
            column-gap: 5%;
        }
    }

    .ambassadors {
        .grid {
            grid-template-columns: 30% 30% 30%;
            column-gap: 3%;
        }
    }

    .info-container {
        padding: 0 10%;
    }

    .prehacks-info {
        flex-direction: column;

        .left,
        .right {
            width: 100%;
            margin: 1em 0;
        }
    }

    .hacker-info {
        flex-direction: column;

        .left,
        .right {
            width: 100%;
            margin: 1em 0;
        }
    }

    .signup-container {
        padding: 0 10%;
    }

    .contact-info-container {
        padding: 0 10%;

        p {
            width: 80%;
        }
    }

    footer {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        row-gap: 2em;
        padding: 2em 5% 1em 5%;

        .col1 {
            order: 1;
            padding: .5em 0;
        }

        .col2 {
            order: 3;
            display: block;
            padding: .5em 0;
        }

        .col3 {
            order: 2;
            padding: .5em 0;
        }

        .divider {
            display: none;
        }
    }
}

/* tablet only */
@media screen and (max-width: 1024px) and (min-width: 501px) {

    .headline {
        h1 {
            font-size: 2.5em;
        }

        .button-container {
            flex-direction: column;
        }
    }

    .sponsor-container {

        .very-top-sponsors,
        .top-sponsors,
        .mid-sponsors,
        .low-sponsors {
            margin: 3em;
        }

        .very-top-sponsors {
            .grid {
                grid-template-columns: 40%;
                grid-template-rows: 15em;
            }
        }

        .top-sponsors {
            .grid {
                grid-template-rows: 5em;
            }
        }

        .mid-sponsors {
            .grid {
                grid-template-rows: 5em 5em;
            }
        }

        .low-sponsors {
            .grid {
                grid-template-rows: 5em 5em;
            }
        }
    }

    .photo-section {
        .team-img-container {
            width: 30%;
        }

        .grid {
            width: 65%;
        }
    }

    .ambassadors {
        .grid {
            width: 100%;
            grid-template-columns: repeat(4, 20%);
            column-gap: 5%;
        }
    }

    .contact-info-container {
        p {
            width: 60%;
        }
    }

    .signup-container {
        .card {
            min-height: 40em;
        }
    }

}

/* Hamburger Menu*/
@media screen and (max-width: 991px) {
    nav {
        p {
            color: $dark-blue !important;
        }

        ul.navbar-nav {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: block;
            padding: 0;
            text-align: center;
            z-index: 20;
            background-color: $purple;

            li {
                &:last-child {
                    button {
                        margin: 1em 0;
                    }
                }
            }
        }

        #mlh-trust-badge {
            right: 5.5em !important;
        }

        .mobile {
            display: none;
        }

        .mobile2 {
            display: block;
        }

        .social {
            display: flex;
            justify-content: space-around;
        }

        .navbar-collapse {
            li {
                height: 25vh;
                border-bottom: solid rgb(85, 83, 83) 1px;


                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
            }

            .border-change {
                // better way to do this w/ :not selector, should change later
                border-bottom: solid #000 0px;
            }


            .navbar-nav {
                li {
                    margin: 0;
                }
            }

        }

        .navbar-toggler {
            display: inline-block;
            position: fixed;
            top: 3em;
            right: 5%;
            z-index: 30;
        }

        .display-toggle {
            display: none;
        }

    }
}

/* Misc Queries */

@media screen and (max-width: 1475px) and (min-width: 1025px) {
    .headline {
        .button2 {
            br {
                display: block;
            }
        }
    }
}