/* Temporary space for Contact Modal styling */

.grayBackground:after {
   content: "";
   display: block;
   height: 100%;
   position: fixed;
   z-index: 2;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.5);
}

.center_page {
   display: flex;
   justify-content: center;
   width: 100%;
}

.modal {
   display: none;
   position: fixed;
   z-index: 5;
   top: 0;
   padding: 2em;
   margin: 1em 0;
   border: 2px solid #000;
   background-color: #FFF;
   overflow: hidden;
}

.modal h1 {
   font-size: 3em;
}

.modal h1, .modal p {
   color: #ED7B68;
   font-style: italic;
}

.modal form div {
   margin: 1em 0;
}

.closeButton {
   color: #BBB;
   float: right;
   font-weight: bold;
   font-size: 3em;
   cursor: pointer;
}

.submitButton {
   background-color: #ED7B68;
   font-family: 'Lato';
   font-size: 1.5em;
   color: #FFF;
   width: 12em;
   height: 2em;
   border-radius: 2em;
   border: none;
}

.inputBox_1 {
   width: 85%;
   height: 2em;
   border: #BBB 2px solid;
}

.inputBox_2 {
   width: 85%;
   height: 6em;
   resize: none;
   border: #BBB 2px solid;
}

.triangle {
   position: absolute;
   z-index: -1;
   left: 55%;
   width: 0;
   height: 0;
   border-left: 20em solid transparent;
   border-right: 20em solid transparent;
   border-bottom: 25em solid rgba(130, 142, 244, .2);
}

.circle {
   position: absolute;
   z-index: -1;
   left: -15%;
   width: 40em;
   height: 40em;
   border-radius: 50%;
   margin: 5em 0 0 0;
   background-color: rgba(82, 217, 246, .2);
}

.submission {
   display: none;
   width: 100%;
   align-items: center;
   flex-flow: column;
   margin: 3em 0;
}

.submitButton {
   cursor: pointer;
}

.sponsor_button {
   width: 40%;
   padding: 10px;
   border-radius: 20px;
   background-color: #828EF4;
}

.sponsor_button:hover {
   cursor: pointer;
}

.sponsor_button a {
   width: 100%;
}

.sponsor_button a h3 {
   text-align: center;
   color: #FFF;
}

@media screen and (max-width: 500px) {
   .inputBox_1, .inputBox_2 {
      width: 100%;
   }
   .circle {
      width: 30em;
      height: 30em;
      left: -45%;
   }
   .triangle {
      left: 30%;
   }
   .modal {
      /* Should take precedence over span_1_of_2 */
      width: 90% !important;
      bottom: 0;
   }
   .sponsor_button {
      width: 80%;
   }
   .sponsor_button a h3 {
      font-size: 1em;
   }
   .modal h1 {
      text-align: start;
      font-size: 2.5em;
   }
}

@media screen and (max-width: 1024px) and (min-width: 501px) {
   .inputBox_1, .inputBox_2 {
      width: 100%;
   }
   .circle {
      width: 30em;
      height: 30em;
      left: -15%;
   }
   .triangle {
      left: 40%;
   }
   .modal {
      width: 90%;
   }
   .sponsor_button {
      width: 65%;
   }
   .inputBox_2 {
      height: 12em;
   }
}

/* Very small phones (ie: iphone 5 is 320px)*/

@media screen and (max-width: 350px) {
   .modal h1 {
      font-size: 1.5em;
   }
   .inputBox_2 {
      height: 5em;
   }
}