<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <link rel="icon" href="../../shehacks_assets/dayOfAssets/img/sheHacksboston_logo.png">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SheHacks Boston - Live</title>
  <link rel="stylesheet" href="../../shehacks_assets/dayOfAssets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../shehacks_assets/dayOfAssets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bebas" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v4.7.0/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../../shehacks_assets/dayOfAssets/css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="../../shehacks_assets/dayOfAssets/clock_assets/flipclock.css" />

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104887569-2"></script>
  <script type="text/javascript" src="../../shehacks_assets/dayOfAssets/js/main.js"></script>
  <script src="../../shehacks_assets/dayOfAssets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../../shehacks_assets/dayOfAssets/js/materialize.min.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments)
    };
    gtag('js', new Date());
    gtag('config', 'UA-104887569-2');
  </script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){$(".button-collapse").sideNav();})
  </script>

</head>

<body>
  <!--Sidebar-->
<div class="mobile-bar-wrapper">

</div>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <img src="../../shehacks_assets/dayOfAssets/img/sheHacksboston_logo.png" style="display:block;margin:auto;padding-top:40px; max-width:75%">
  <a href="../dayof">Home</a>
  <a href="schedule">Schedule</a>
  <a href="workshops">Workshops</a>
  <a href="map">Map</a>
  <a href="prizes">Challenges &amp; Prizes</a>
  <a href="faq">FAQ</a>
</div>

<span id="mobile-menu-button" onclick="openNav()">&#9776;<span id="mobile_header">SCHEDULE</span></span>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>


  <ul id="slide-out" class="side-nav fixed">
    <img src="../../shehacks_assets/dayOfAssets/img/sheHacksboston_logo.png" style="display:block;margin:auto;padding-top:40px; max-width:75%">
    <img src="../../shehacks_assets/dayOfAssets/img/livebanner.png" style="max-width:80%; margin-bottom:5%" alt="">
    <li><a href="../dayof">Home</a></li>
    <li><a href="schedule">Schedule</a></li>
    <li><a href="workshops">Workshops</a></li>
    <li><a href="map">Map</a></li>
    <li><a href="prizes">Challenges &amp; Prizes</a></li>
    <li><a href="faq">FAQ</a></li>
    <!-- <li><a href="http://shehacks.io">Full Site</a></li> -->
    <div id="contact">
      <div style="padding-bottom:10px;">
        <p> &copy; SheHacks 2017 / Boston, MA / info@shehacks.io </p>
        <p><a style="color:#ffb400;" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="blank">MLH Code of Conduct</a></p>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <a href="https://www.facebook.com/SheHacksBoston/?ref=br_rs" target="_blank"><img src="../../shehacks_assets/dayOfAssets/img/socialicons/facebook.png" alt="facebook icon" id="socialicon"></a>
        </div>
        <div class="col-sm-4">
          <a href="https://www.instagram.com/shehacksboston/" target="_blank"><img src="../../shehacks_assets/dayOfAssets/img/socialicons/instagram.png" alt="facebook icon" id="socialicon"></a>
        </div>
        <div class="col-sm-4">
          <a href="https://www.twitter.com/shehacksboston/" target="_blank"><img src="../../shehacks_assets/dayOfAssets/img/socialicons/twitter.png" alt="facebook icon" id="socialicon"></a>
        </div>
      </div>
    </div>
  </ul>
  <!--end sidebar-->


  <!--anything not in the sidebar should go within these main tags-->
  <main id="main-sidebar">
    <img class="company-logo" src="../../shehacks_assets/dayOfAssets/img/schedule-header.png" alt="">
    <div id="schedule">
      <h3 style="text-align:left; padding-left:5%">Friday</h3>
      <div id="Friday" class="">
        <img src="../../shehacks_assets/dayOfAssets/img/fri-cal.png" style="width:95%;padding-left:5%;padding-bottom:20px;">
      </div>
      <hr>
      <h3 style="text-align:left; padding-left:5%">Saturday</h3>
      <div id="Saturday" class="" style="">
        <img src="../../shehacks_assets/dayOfAssets/img/sat-cal.png" style="width:95%;padding-left:5%;padding-bottom:20px;">
      </div>
      <hr>
      <h3 style="text-align:left; padding-left:5%">Sunday</h3>
      <div id="Sunday" class="">
          <img src="../../shehacks_assets/dayOfAssets/img/sun-cal.png" style="width:95%;padding-left:5%;padding-bottom:20px;">
      </div>
    </div>

  <!--live button in bottom corner-->
    <div id="livesquare">
      <button type="button" class="btn livesquare" style="padding:0 1rem;"><i class="fa fa-circle text-danger Blink" style="font-size: .6rem;padding-right:4px;"></i>LIVE</button>
    </div>
  </main>
</body>

</html>
