$pink: #FD7361;
$purple: #808cFB;
$blue: #52D9F6;
$red: #E73F33;
$dark-blue: #000C54;
$ocean-blue: #0025F8;
$button-radius: 15px;

body {
    font-family: Barlow !important;
    font-size: 16px;
}

.pink {
    color: $pink;
}

.purple {
    color: $purple;
}

.background-image {
    background-image: url(/assets_2020/imgs/cover_placeholder.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2em 2%;
    min-height: 100vh;

    .logo {
        width: 15em;
    }

    .logo-2 {
        display: none;
    }

}

.navbar-toggler-icon {
    // modifying bootstrap
    color: #FFF;
}

.navbar-collapse {

    .navbar-nav {
        flex-flow: row wrap;
        width: 100%;
        justify-content: flex-end;

        li {
            margin: 0 1em;
        }

        img {
            width: 2em;
            height: 2em;
        }

        p {
            color: #fff;
            font-weight: bold;
        }

        button {
            color: #fff;
            background-color: $pink;
            border: none;
            border-radius: $button-radius;

            p {
                margin: 0;
                padding: 4px 2.5em;
            }
        }
    }
}

.headline {

    margin: 10vh 0 0 0;

    h1 {
        font-size: 5.5em;
        font-weight: bold;
        line-height: 1em;
        margin-bottom: 30px;
        color: #fff;
    }

    h2 {
        color: #fff;
        font-weight: bold;
    }

    h3 {
        color: #fff;
        margin: 1em 0;
        font-weight: 500;
    }

    div:first-child.row {
        margin: 2em 0;
    }

    div:nth-child(5) {
        p {
            font-size: 2em;
        }
    }

    button {
        margin: 2em 2em 0 0;
        padding: 4px 2.5em;
        color: #fff;
        border: none;
        border-radius: $button-radius;
        font-weight: bold;
        font-size: 1.5em;

        &:first-child {
            background-color: $pink;
        }

        &:nth-child(2) {
            background-color: $ocean-blue;
        }
    }

    .bottom-border {
        padding: 1em 0;
        border-bottom: 1em solid $dark-blue;
    }

}



.what-container {

    margin: 12em 0;

    h1 {
        font-size: 4em;
        font-weight: bold;
    }

    div {
        padding: 0;

        .about {
            color: #fff;
            background-color: $purple;
            padding: 4em 4em;

            h1 {
                display: inline-block;
                border-bottom: .3em solid $dark-blue;
            }

            p {
                font-size: 2em;
                margin: 1em 0;
            }

        }
    }

    .bar-2 {
        display: none;
    }

    img {
        width: 100%;
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
    }

}

.track-container {

    h1 {
        font-weight: bold;
        color: $dark-blue;
        font-size: 4em;
        padding: .3em 0;
    }

    h2 {
        font-weight: bold;
        font-size: 2.5em;
        margin: 1em 0;
    }

    div {
        .grid {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
            grid-row-gap: 10px;
            grid-column-gap: 10px;
            margin: 0 4em 0 0;
            width: 40%;
            padding: 0;
        }

        img {
            width: 100%;
        }
    }

    section {
        a {
            font-weight: bold;
            color: $dark-blue;
        }

        p {
            &:hover {
                text-decoration: underline;
            }

            span {
                background-color: #FFF;
                color: $pink;
            }

            float: right;
        }

        span {
            display: inline-block;
            height: 2em;
            width: 1em;
            background-color: $pink;
            margin: 0 10px;
        }
    }

    .bar {
        background-color: $pink;
        height: 1em;
        margin: 0 0 2em 0;
    }
}


.explore-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $dark-blue;
    margin: 5em 0;
    padding: 5em 0;

    section {
        color: #fff;
        background-color: $purple;
        padding: 5em 5em 15em 5em;
        width: 40%;

        h1 {
            font-size: 5em;
            font-weight: bold;
        }

        p {
            font-size: 1.5em;
            font-weight: 500;
        }

        .bar {
            background-color: $dark-blue;
            height: 1em;
            width: 80%;
            margin: 0 0 2em 0;
        }

    }

    .carousel {
        width: 50%;

        img {
            height: 100%;
        }
    }



}

.get-involved_container {

    margin: 7em 0;

    div {
        margin: 2em 0;
    }

    .title {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 0 1em;

        h1 {
            font-size: 4em;
            font-weight: bold;
            margin: 0;
            padding-bottom: 20px;
            border-bottom: .3em solid $pink;
        }

        h3 {
            color: $purple;
            font-weight: bold;
            margin: 1em 0;
        }
    }

    .links {

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 15%;

        h3 {
            background-color: $pink;
            font-weight: bold;
            color: #fff;
            padding: 1em 1em;
            text-align: center;
        }

        a {

            &:hover {
                text-decoration: none;
            }
        }
    }
}


.sponsor-container {

    margin: 5em 0;

    h2 {
        font-weight: bold;
        color: $purple;
        font-size: 5.5em;
        text-align: center;
    }

    div {
        margin: 5em 0;
    }

    .title {
        text-align: center;
        padding: 3em 1em;
        margin: 5em 0 1em 0;
        background-color: $purple;
        color: #fff;

        h1 {
            font-size: 3em;
            font-weight: bold;
        }

        .display-2 {
            display: none;
        }
    }

    .gold-sponsors,
    .silver-sponsors,
    .bronze-sponsors {

        .top-sponsor {
            text-align: center; // centers image because of how anchor tags work idk
        }

        padding: 0 10%;
        margin: 10em 0;
    }

    .gold-sponsors {

        img {
            width: 40%;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 2em;
            grid-column-gap: 5em;

            img {
                width: 100%;
            }
        }

    }

    .silver-sponsors {

        img {
            width: 40%;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 2em;
            grid-column-gap: 5em;

            img {
                width: 100%;
            }
        }

        .grid2 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-row-gap: 2em;
            grid-column-gap: 5em;

            img {
                width: 100%;
            }
        }
    }

    .bronze-sponsors {

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-row-gap: 2em;
            grid-column-gap: 2em;

            img {
                width: 100%;
            }

        }
    }

}


footer {
    display: flex;
    justify-content: space-between;
    background-color: $purple;
    color: #fff;
    width: 100%;
    margin: 10em 0 0 0;
    padding: 5em 3%;

    .social {
        img {
            width: 3em;
            margin: 0 1em;
        }
    }

    .logo-1{
        width: 20em;
    }

    .logo-2{
        display: none;
    }

    .contact {
        display: flex;
        justify-content: space-between;

        form {
            display: inline;

            p {
                margin: 0;
            }

            .form-control {
                border-radius: 10em;
            }
        }
        
    }

}

/******************** Media Queries ********************/

/* phone only */
@media screen and (max-width: 500px) {

    .background-image {

        .logo {
            display: none;
        }

        .logo-2 {
            width: 3em;
            display: inline-block;
        }

        .navbar-nav {
            flex-direction: column;
        }

    }

    .what-container {
        .bar-2 {
            background-color: $dark-blue;
            display: block;
            margin: 5em 0 0 0;
            height: 3em;
            width: 100%;
        }
    }

    .track-container {

        .row {
            flex-flow: column-reverse;

            .grid {
                width: 100%;
                margin: 0;
                padding: 0 5%;
            }
        }

    }

    .sponsor-container {

        .title {
            h1 {
                font-size: 2em;
            }

            .display-1 {
                display: none;
            }

            .display-2 {
                display: block;
            }
        }

        h2 {
            font-size: 3em;
        }

        .gold-sponsors,
        .silver-sponsors,
        .bronze-sponsors {

            img {
                width: 90%;
            }

            .grid,
            .grid2 {
                grid-template-columns: 1fr;
                grid-row-gap: 0;
                text-align: center;

                img {
                    width: 90%;
                }
            }
        }

        .silver-sponsors {
            .grid {
                margin-bottom: 0;
            }

            .grid2 {
                margin-top: 0;
            }
        }
    }

    footer{
        .logo-1{
            display: none;
        }

        .logo-2{
            display: block;
            width: 1em;
        }      
        
        .contact{
            flex-direction: column-reverse;
        }

    }

}

/* tablet and phone */
@media screen and (max-width: 1024px) {

    .background-image {

        .navbar-toggler-icon {
            background-image: url(/assets_2020/imgs/nav-hamburger.png);
        }

        .nav-item {
            text-align: center;

            img {
                margin-bottom: 1em;
            }
        }

    }

    .explore-container {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 0;

        section {
            width: 100%;
        }

        .carousel {
            width: 100%;
        }
    }

}

/* tablet only */
@media screen and (max-width: 1024px) and (min-width: 501px) {

    .sponsor-container {
        h2 {
            font-size: 3.5em;
        }
    }

}