body {
  font-family: Barlow !important;
  font-size: 16px;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1em;
}

.pink {
  color: #FD7361;
}

.purple {
  color: #808cFB;
}

.background-image {
  background-image: url(/assets_2020/imgs/cover_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2em 2%;
  min-height: 100vh;
}

.background-image .logo {
  width: 15em;
}

.background-image .logo-2 {
  display: none;
}

header {
  margin-bottom: 7em;
}

.navbar-toggler-icon {
  color: #FFF;
}

.navbar-collapse .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-collapse .navbar-nav li {
  margin: 0 1vw;
}

.navbar-collapse .navbar-nav img {
  width: 2em;
  height: 2em;
}

.navbar-collapse .navbar-nav p {
  color: #fff;
  font-weight: bold;
}

.navbar-collapse .navbar-nav button {
  color: #fff;
  background-color: #FD7361;
  border: none;
  border-radius: 100px;
}

.navbar-collapse .navbar-nav button p {
  margin: 0;
  padding: 1px 2.5em;
}

.navbar-collapse .navbar-nav li:last-child button {
  background-color: #0025F8;
}

.navbar-collapse .navbar-nav li:last-child button a:hover {
  text-decoration: none;
}

.headline {
  margin: 10vh 0 0 0;
}

.headline h1 {
  font-size: 4em;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 30px;
  color: #fff;
  display: table;
}

.headline h1:first-child {
  font-size: 3.75em;
}

.headline h2 {
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
}

.headline h3 {
  font-size: 1.25em;
  color: #fff;
  margin: 1em 0;
  font-weight: 500;
}

.headline div:first-child.row {
  margin: 2em 0;
}

.headline button {
  margin: 2em 2em 0 0;
  padding: 4px 2.5em;
  color: #fff;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  font-size: 1.2em;
}

.headline button:first-child {
  background-color: #0025F8;
}

.headline button:nth-child(2) {
  background-color: #FD7361;
}

.headline button p {
  margin: 0;
}

.headline .bar {
  background-color: #000C54;
  width: 80%;
  height: 1em;
  margin: 0 0 2em 0;
}

.headline div {
  padding: 0;
}

.about-container {
  padding: 0 20px 0 20px;
}

.about-container img {
  width: 100%;
}

.about-container h1 {
  color: #000C54;
  font-weight: bold;
}

.about-container h2 {
  color: #808cFB;
  font-weight: bold;
  margin: 1.5em 0;
}

.about-container h2 span {
  color: #FD7361;
}

.about-container p {
  color: #000C54;
  font-weight: 500;
  font-size: 1.25em;
}

.about-container .bar {
  background-color: #FD7361;
  width: 25%;
  height: 1em;
}

.what-container {

}

.what-container h1 {
  font-weight: bold;
}

.what-container div {
  padding: 0;
}

.what-container div .about {
  color: #fff;
  background-color: #808cFB;
  padding: 4em 7.5%;
}

.what-container div .about h1 {
  display: inline-block;
  border-bottom: 0.3em solid #000C54;
}

.what-container div .about p {
  margin: 1em 0;
  font-size: 1.25em;
}

.what-container .bar-2 {
  display: none;
}

.what-container img {
  width: 100%;
}

.track-container {
  margin: 7em 0;
  padding: 0 5% 0 0;
}

.track-container h1 {
  font-weight: bold;
  color: #000C54;
  padding: .3em 0;
}

.track-container h2 {
  font-weight: bold;
  font-size: 2em;
  margin: 1em 0;
}

.track-container p {
  color: #000C54;
  font-size: 1.5em;
  /* font-weight: bold; */
}

.track-container .margin {
  margin: 4em 0;
}

.track-container div .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 4em;
  padding: 0 2em 0 0;
}

.track-container div img {
  width: 100%;
}

.track-container section {
  margin-top: 5em;
}

.track-container section a {
  color: #000C54;
}

.track-container section p {
  font-size: 1.5em;
  float: right;
}

/* .track-container section p:hover {
  text-decoration: underline;
} */

.track-container section p span {
  margin: 0 5px;
  background-color: #FFF;
  color: #FD7361;
}

.track-container section span {
  display: inline-block;
  height: 2em;
  width: 1em;
  background-color: #FD7361;
  margin: 0 10px;
}

.track-container .bar {
  background-color: #FD7361;
  height: 1em;
  margin: 0 0 2em 0;
}

.explore-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000C54;
  margin: 7em 0 0 0;
  padding: 5em 0;
}

.explore-container section {
  color: #fff;
  background-color: #808cFB;
  padding: 5em 5em 15em 5em;
  width: 40%;
}

.explore-container section h1 {
  font-weight: bold;
}

.explore-container section p {
  font-size: 1.5em;
  font-weight: 500;
}

.explore-container section .bar {
  background-color: #000C54;
  height: 1em;
  width: 80%;
  margin: 0 0 2em 0;
}

.explore-container .carousel {
  width: 50%;
}

.explore-container .carousel img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.explore-container .carousel-indicators li {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.faq-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: min-content(20em) min-content(30em);
      grid-template-rows: min-content(20em) min-content(30em);
  grid-gap: 2em 5%;
  padding: 4em 5%;
  margin: 0 0 6em 0;
  background-image: url(/assets_2020/imgs/faq_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.faq-container img {
  width: 100%;
}

.faq-container .title h1 {
  display: table;
  border-bottom: 10px #FD7361 solid;
  padding-bottom: 5px;
  margin: 0 0 .5em 0;
}

.faq-container .title h1,
.faq-container .title h3 {
  color: #FFF;
  font-weight: bold;
}

.faq-container .answer-box {
  width: 100%;
  min-height: 15em;
  background-color: #FFF;
  clip-path: polygon(100% 0, 100% 70%, 10% 70%, 0 100%, 0 0);
  -webkit-clip-path: polygon(100% 0, 100% 70%, 10% 70%, 0 100%, 0 0);
  padding: 2em;
  color: #000C54;
  font-size: 1.2em;
}

.faq-container .question-box {
  background-color: #FFF;
  -webkit-box-shadow: 2em 2em #0025F8;
          box-shadow: 2em 2em #0025F8;
  padding: 2em;
}

.faq-container .question-box h3 {
  color: #000C54;
  font-size: 1.5em;
  margin: 0 0 1em 0;
}

.faq-container .question-box h3 span {
  color: #000;
  letter-spacing: -2px;
}

.faq-container .question-box p {
  margin: 0;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1em 2em;
  cursor: pointer;
}

.faq-container .blob {
  -ms-grid-column-align: center;
      justify-self: center;
}

.get-involved_container {
  margin: 7em 0;
}

.get-involved_container div {
  margin: 2em 0;
}

.get-involved_container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
}

.get-involved_container .title h1 {
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 0.3em solid #FD7361;
  color: #000C54;
}

.get-involved_container .title h3 {
  color: #808cFB;
  font-weight: bold;
  margin: 1em 0;
}

.get-involved_container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10%;
}

.get-involved_container .links h3 {
  background-color: #FD7361;
  font-weight: bold;
  color: #fff;
  padding: 1em 1em;
  text-align: center;
}

.get-involved_container .links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1em;
}

.get-involved_container .links img {
  width: 20em;
}

.get-involved_container .links a:hover {
  text-decoration: none;
}

.sponsor-container {
  margin: 7em 0;
}

.sponsor-container h2 {
  font-weight: bold;
  color: #808cFB;
  font-size: 2.75em;
  text-align: center;
}

.sponsor-container div {
  margin: 5em 0;
}

.sponsor-container .title {
  text-align: center;
  padding: 3em 1em;
  margin: 5em 0 1em 0;
  background-color: #808cFB;
  color: #fff;
}

.sponsor-container .title h1 {
  font-size: 3em;
  font-weight: bold;
}

.sponsor-container .title .display-2,
.sponsor-container .title .display-break {
  display: none;
}

.sponsor-container .gold-sponsors,
.sponsor-container .silver-sponsors,
.sponsor-container .bronze-sponsors {
  padding: 0 10%;
  margin: 10em 0;
}

.sponsor-container .gold-sponsors .top-sponsor,
.sponsor-container .silver-sponsors .top-sponsor,
.sponsor-container .bronze-sponsors .top-sponsor {
  text-align: center;
}

.sponsor-container .gold-sponsors img {
  width: 40%;
}

.sponsor-container .gold-sponsors .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 5em;
}

.sponsor-container .gold-sponsors .grid img {
  width: 100%;
}

.sponsor-container .silver-sponsors img {
  width: 40%;
}

.sponsor-container .silver-sponsors .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 5em;
}

.sponsor-container .silver-sponsors .grid img {
  width: 100%;
}

.sponsor-container .silver-sponsors .grid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 5em;
}

.sponsor-container .silver-sponsors .grid2 img {
  width: 100%;
}

.sponsor-container .bronze-sponsors .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 2em;
}

.sponsor-container .bronze-sponsors .grid img {
  width: 100%;
}

footer {
  display: -ms-grid;
  display: grid;
  background-color: #808cFB;
      grid-template-areas: "lg . soc fm";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 100%;
  margin: 7em 0 0 0;
  padding: 5em 3%;
}

footer .social {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: soc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

footer .social img {
  width: 3em;
  margin: 0 1.2em;
}

footer input {
  border-radius: 15px;
}

footer p {
  margin: 0;
}

footer .logo-1 {
  max-width: 100%;
}

footer .logo-2 {
  display: none;
}

footer .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lg;
}

footer .form {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: fm;
}

/******************** Media Queries ********************/
/* tablet and phone */
@media screen and (max-width: 1024px) {
  .background-image .navbar-toggler-icon {
    background-image: url(/assets_2020/imgs/nav-hamburger.png);
  }
  .background-image .nav-item {
    text-align: center;
  }
  .background-image .nav-item img {
    margin-bottom: 1em;
  }
  .explore-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 0;
  }
  .explore-container section {
    width: 100%;
    padding: 5em 20% 5em 10%;
  }
  .explore-container .carousel {
    width: 100%;
  }
  .track-container {
    padding: 0 2em;
  }
  .faq-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .faq-container .title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .faq-container .answer-box {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 2em 0 0 0;
  }
  .faq-container .question-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .faq-container .blob {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer .social img {
    width: 2em;
    margin: 0 .5em;
  }
}

/* phone only */
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
  }
  .navbar-nav li:last-child button {
    margin: 1em 0;
  }
  header .navbar-nav {
    position: relative;
    padding: 1.5em 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .headline h1 {
    font-size: 3em;
  }
  .headline h1:first-child {
    font-size: 3em;
  }
  .headline h2 {
    font-size: 1.5em;
  }
  .headline h3 {
    font-size: 1.3em;
  }
  .background-image .logo {
    display: none;
  }
  .background-image .logo-2 {
    width: 3em;
    display: inline-block;
  }
  .background-image .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .what-container div .about {
    padding: 4em 10% 4em 10%;
  }
  .what-container div .about h1 {
    border-bottom-color: #000C54;
  }
  .what-container div .about p {
    font-size: 1em;
  }
  .track-container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .track-container .row .grid {
    width: 100%;
    margin: 0;
    padding: 0 5%;
  }
  .track-container h2 {
    font-size: 1.5em;
  }
  .track-container p {
    font-size: 1em;
  }
  .track-container section {
    margin-top: 3em;
  }
  .track-container section p {
    font-size: 1.15em;
  }
  .explore-container section {
    padding: 2em 10%;
  }
  .explore-container section .bar {
    margin-bottom: 4em;
  }
  .explore-container section h1 {
    margin-top: 1em;
    font-size: 2em;
  }
  .explore-container section p {
    font-size: 1em;
  }
  .faq-container h1 {
    font-size: 1.8em;
  }
  .faq-container h3 {
    font-size: 1.1em;
  }
  .faq-container span {
    display: none;
  }
  .faq-container .question-box {
    -webkit-box-shadow: 0.7em 0.7em #0025F8;
            box-shadow: 0.7em 0.7em #0025F8;
  }
  .get-involved_container .title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .get-involved_container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .get-involved_container .links h3 {
    display: inline;
    font-size: 1em;
    padding: .5em 1em;
  }
  .sponsor-container .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 2em;
  }
  .sponsor-container .title h1 {
    font-size: 1.5em;
  }
  .sponsor-container .title .display-1 {
    display: none;
  }
  .sponsor-container .title .display-break {
    display: block;
  }
  .sponsor-container .title .display-2 {
    display: block;
    border-bottom: solid 10px #000C54;
  }
  .sponsor-container h2 {
    font-size: 2.5em;
  }
  .sponsor-container .gold-sponsors img,
  .sponsor-container .silver-sponsors img,
  .sponsor-container .bronze-sponsors img {
    width: 90%;
  }
  .sponsor-container .gold-sponsors .grid,
  .sponsor-container .gold-sponsors .grid2,
  .sponsor-container .silver-sponsors .grid,
  .sponsor-container .silver-sponsors .grid2,
  .sponsor-container .bronze-sponsors .grid,
  .sponsor-container .bronze-sponsors .grid2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 1em;
    text-align: center;
  }
  .sponsor-container .gold-sponsors .grid img,
  .sponsor-container .gold-sponsors .grid2 img,
  .sponsor-container .silver-sponsors .grid img,
  .sponsor-container .silver-sponsors .grid2 img,
  .sponsor-container .bronze-sponsors .grid img,
  .sponsor-container .bronze-sponsors .grid2 img {
    width: 90%;
  }
  .sponsor-container .silver-sponsors .grid {
    margin-bottom: 0;
  }
  .sponsor-container .silver-sponsors .grid2 {
    margin-top: 0;
  }
  footer {
        grid-template-areas: "lg . fm" ". . soc";
    -ms-grid-columns: 20% 10% 70%;
        grid-template-columns: 20% 10% 70%;
        grid-template-areas: 1fr 1fr;
    grid-row-gap: 1em;
  }
  footer .logo-1 {
    display: none;
  }
  footer .logo-2 {
    display: block;
    width: 100%;
  }
  footer .social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* tablet only */
@media screen and (max-width: 1024px) and (min-width: 501px) {
  .headline h1 {
    font-size: 3.75em;
  }
  .sponsor-container h2 {
    font-size: 3.5em;
  }
  footer {
    -ms-grid-columns: 1fr 5% 1fr 1fr;
        grid-template-columns: 1fr 5% 1fr 1fr;
  }
  footer .social img {
    width: 2em;
    margin: 0 .5em;
  }
}
